[2017-11-09 20:31] ravianand1988 opened #2 "Contoso.ADD42 function is not getting appeared in excel."
Hi,
I followed steps. hosted Customfunctions.html and customfunctions.js in IIS web app with self SSL certificate.
 - I hosted only above mentioned files.

 - I created a folder in c drive, copied manifest with updated URL
   shared folder and copy network path.
 - I added network path in excel Trusted Add-in catalog and checked show
   in menu. closed excel and open it back.
 - I can see my addin

[2017-11-10 23:18] kbrandl commented on #2
@ravianand1988 -- thanks for reaching out about this issue.  Since you've posted this question to Stack Overflow (and are getting assistance there), I'm going to close this Issue here in GitHub, to avoid tracking it in both places.

(For reference, the corresponding Stack Overflow post is here: https://stackoverflow.com/questions/47211087/contoso-add42-function-is-not-appearing-in-excel).

[2017-11-10 23:18] #2 closed

[2017-12-19 18:42] EdwinStraver opened #4 "Custom Function caller"
It is extremely important for us that the custom functions can receive the location of the cell, that is calling them. (For example, if the same custom function is called from A3, and C5, we need to know inside the function, if we are getting called from A3 or C5)

Can this be incorporated?

[2017-12-20 00:32] saunders77 commented on #4
Thanks for the comment, Edwin! Could you tell me a little more about your use case? Why do you want to know the cell location?

[2017-12-20 00:45] EdwinStraver commented on #4
Hi Michael,

Thanks for your reply. We are planning an add-in that takes the workbook, performs a simulation or optimization, and then the custom functions show different results.  We have all the results available, but when the custom function is computing, we need to to know from which cell it is called to return the proper value.

We currently have a COM addin, and there we use a call like

XLO

[2017-12-24 05:13] jimmcslim commented on #4
I think alot of people will be hoping that the custom functions API permits much of the same functionality currently permitted by the XLL API.

Another use case for wanting to know which cell or range of cells (assuming that array formula will eventually be supported) has invoked the function for the purpose of logging.

[2018-01-12 18:43] mehdigolari opened #5 "Volatile Function"
We need to be able to mark certain custom function as "volatile". I was not able to find this and I was wondering if you currently support this or will support this in near future. Thanks!

[2018-01-12 23:35] saunders77 commented on #5
Thanks for the comment! It's not supported now, but it's something we've heard from other customers. As usual, I can't give dates, but it's a feature we're considering for the future.

[2018-01-13 00:02] mehdigolari commented on #5
Michael -- Thanks for the prompt response. This would be greatly appreciated.

[2018-02-09 12:01] tonipohl opened #6 "sample not working?"
That's a cool demo for Excel UDF, but in my case, Excel doesn't accept the formula. I deployed the web with the adapted web URLs, tried to upload the manifext.xmls in Excel Online and desktop with a shared folder, but it does not work. Excel Desktop (Build 9001.2138) shows the "Custom functions sample" taskpane (not visible in Excel online), but that's it. Am I missing something? Thx!

[2018-02-09 16:03] 5ch0b1w4n commented on #6
same for me. excel is not initializing the function when i host the script and html locally (no matter if http or https). the local url is available in browser and html and script is online but when side-loading the manifest locally via shared folder it does not initialize the function.

[2018-02-23 01:39] saunders77 commented on #6
See this Stack Overflow post: you'll need to sign up for the Insider Channel (available for free to all): https://stackoverflow.com/questions/47211087/excel-custom-functions-contoso-add42-function-is-not-appearing-in-excel

[2018-02-23 01:41] saunders77 commented on #4
We're considering this request. @jimmcslim , could you clarify why you want to log the ranges of caller cells?

[2018-02-23 03:44] jimmcslim commented on #4
I have built an Excel add-in using the excellent Excel-DNA open source library, which is a .Net wrapper around the XLL API.

I'm not sure if you are querying my logging specifically, or wanting ranges specifically... but here is my more general use case.

I work in the field of financial markets, so the addin allows uses to 'load' market data into a cell and then reference that market data elsewhe

[2018-02-23 16:38] #6 closed

[2018-03-20 09:53] hanzhangyu opened #7 "Can user use the custom function in normal version?"
In the latest of `insider version`, it works. but my users are not in the `insider version`. I worried about that it dont works.

If there are some plan in the progress , please let know. Thank you.

[2018-04-02 06:43] trionfo1993 opened #8 "Can i use optional parameters in custom functions？"
Like get all user input from arguments

[2018-04-22 06:09] n4nagappan opened #9 "manifest file validation failed while loading sample add-in on Excel online"
I tried to load the manifest file on **Excel online**.
The error I get is :

![screen shot 2018-04-22 at 1 59 55 pm](https://user-images.githubusercontent.com/1703029/39092076-8e9019a2-4636-11e8-8d4b-8149a4ca436f.png)

I used the [validator](https://www.npmjs.com/package/office-addin-validator) tool you have to validate my manifest.xml file. I get the following errors :
[code]

[2018-05-03 21:32] saunders77 commented on #7
We haven't yet announced the date when it will be Generally Available to all Excel users yet. For now it's just insiders. Sorry for the wait!

[2018-05-08 20:26] bsmartt13 commented on #7
This is deeply concerning to me, as a defender. I really hope this is off by default if it ever goes into GA.

[2018-05-21 22:06] chris-trotter opened #13 "Debugging"
I'm having great difficulty debugging the custom functions I am writing. I have attempted to follow the instructions to enable the debugger through IE settings, while running the F12Chooser.exe application (it appears to inconsistently find the relevant excel window).

I have have created a httpRequest function, but have received the #GETTING_DATA placeholder and no error is being presented.

Is t

[2018-05-22 01:12] jimmcslim commented on #13
I can't help you but to agree that the state of debugging Excel Javascript add-ins is indeed a bit tedious. I can only hope with this announcement -> https://blogs.windows.com/msedgedev/2018/05/11/introducing-edge-devtools-protocol/ that maybe better times maybe ahead, but this is probably contingent on Excel integrating Edge rather than whichever version of IE it currently uses.

[2018-05-22 08:44] chris-trotter commented on #13
@jimmcslim thanks! This may be a stupid question but is there a way to review console logs from within excel addons?

[2018-05-24 02:10] Peteratrapporr opened #14 "WebService"
I working on this and want to pull data from a remote server, but I can't get it working.

In the documentation, XHR is talked about but there is no example.  Have tried to use XMLHttpRequest, but get an N/A.

Would like some example code so I can then start building out my project

[2018-05-26 10:33] chris-trotter commented on #14
https://gist.github.com/chris-trotter/86384e7595d81b3f94a0122c85b92c4a

Have a look at this gist. You can add this function to your project. You have to use the OfficeExtension.Promise and pass the response from the httpRequest function to the promise's resolve function.

I went about using a simple xmlhttprequest as I couldn't debug the errors when trying to import standard http libraries.

[2018-05-26 19:10] chris-trotter commented on #14
@Peteratrapporr If you receive #N/A then perhaps your function has defined an expected type of number rather than the string you are returning with. If you want further support I suggest uploading your project to a github repository.

[2018-05-26 21:51] Peteratrapporr commented on #14
It is returning a string and works with the return function. The return value is a string as well for

[excel.zip](https://github.com/OfficeDev/Excel-Custom-Functions/files/2041983/excel.zip)

 this, but not even reaching this.

This is the only function and is part of the tutorial which I have modified to test if this works before I get fully working on this.

Filename is customfunctions.js

[2018-05-27 08:02] chris-trotter commented on #14
@Peteratrapporr You've forgotten to add `"dimensionality": "scalar"` key and value to your result object.
[code]
See my below fork of the sample project for further examples of xmlhttprequests to an API.
https://github.com/chris-trotter/companies-house-excel-custom-functions

[2018-05-27 08:03] chris-trotter commented on #8
Can you provide an example?

[2018-05-27 11:09] Peteratrapporr commented on #14
Thanks.

Have taken this code base and copied parts across to this make this work and now getting #GETTING_DATA in the cell, but no data.

Have noticed the call to my server was a OPTIONS type instead of GET. Altered code to handle this and return data. Tested with POSTMAN and is working.

Tested calling your service as well and got the same result.

[2018-05-27 21:02] keithalewis commented on #4
Maybe the final, hidden argument of async functions can be used for this.

[2018-05-27 23:28] Peteratrapporr commented on #14
Have got it working. My server was blocking due to content type rule.

Don't know why your server wasn't working as now working.

[2018-05-28 09:30] Peteratrapporr commented on #14
Have it working, but my services return JSON objects, not just text data

Can't access the values as an object eg reply.Name.  If I try to convert to a string, it fails as well.

[2018-05-28 09:38] chris-trotter commented on #14
I'm doing all data operations and manipulations through a node script on my server and then handing the end text result to excel. Debugging a server-side node script is much easier than attempting to debug data manipulations on the excel client side. Keep your client side code as simple as possible until there's a decent debugger.

[2018-05-28 09:51] Peteratrapporr commented on #14
The server code is what I'm already doing with Google Sheets which I'm now converting to Excel and I use Google Sheets cache function.

Could have a sheet with 1,000 cells to be updated (weekly cashflow). The Cache model with Google allows me to update the sheet in 8 seconds and only do 12 calls to the server for each of the weeks involved which cuts down the server hits. This data is coming from

[2018-06-02 18:00] KD33 opened #15 "#NAME? Error In Spreadsheet"
Hello, I've followed the instructions to the best of my knowledge so please bare with me.
I tried running  = CONTOSO.ADD42(A1) where cell A1 is the number 1, and get a #NAME? error in Excel.  So far I've

1)Am an office insider member and have a build version of 16.13.1
2)Cloned the repo, set up a server on port 3000 to serve the static files using Express
3)Changed localhost:8000 to localhost:300

[2018-06-02 18:58] govert commented on #15
I needed to install the "Insider" (Fast) version - having "Monthly Channel (Targeted)" (Slow) which was the default install even as an Office Insider did not work.

So in File -> Account it reads:
![image](https://user-images.githubusercontent.com/414659/40879865-8ed02466-66a7-11e8-806e-b75de098ec79.png)

[2018-06-02 19:41] KD33 commented on #15
That did the trick.  Appreciate it.

[2018-06-02 21:35] #15 closed

[2018-06-07 14:44] cjtafoya opened #16 "Issue: Release the dang functions"
The release schedule for custom JS functions has been dragged out far beyond the initially indicated release date.

Is there any update on when this will move out of preview? Very frustrating to have a completed commercialized plug-in that can't make it into the Store (we're re-writing it in C# now, huge waste of effort).

[2018-06-07 17:42] Rick-Kirkham commented on #16
@cjtafoya I'll see if I can get someone to provide an update on the Preview status.

With respect to the copyright date, it should be the date of the oldest content that is still in the Readme file, so it is correct since that file was published in 2017 and some of the original content is still in it.

[2018-06-08 04:31] eldargum commented on #13
@jimmcslim can I run TaskPane and Customfunctions at the same time for debugging with F12? I'm trying add TaskPane action to manifest but Excel crushed when I inserted add-in.

[2018-06-08 06:54] eldargum commented on #14
@chris-trotter thanks for sharing your project! I created API for SQL Server using Node.js and trying to receive the data to excel with custom functions, one or two rows work fine, but when I'm filling data automatically 1000 rows for example I got 500 err in the some cells.

[2018-06-08 07:15] chris-trotter commented on #14
@eldargum You should test to ensure your API is not rate limited. My project above is using a Companies House API which is rate limited to 500 requests per 5 minutes.

[2018-06-08 09:59] eldargum commented on #14
@chris-trotter thanks  for answers! After that I created small http handler demo using .NET and this work is fine, so the issue related with nodejs code, not with Excel custom function.

[2018-06-08 11:48] Peteratrapporr commented on #14
Not rate limited as my code acting as the middleware to handle rate limiting of other systems.  I'm actually running a "GO" backend and have done the JSON stuff before. The issues is the reply from the promise is an object. If passed straight  to the cell, it handles this, but I want to extract the data first.

[2018-06-13 22:14] cjtafoya commented on #16
Thanks Rick, would appreciate any update you might be able to provide.

[2018-06-13 22:41] Rick-Kirkham commented on #16
Just heard today that it's going to be in Preview until at least mid-Autumn.

[2018-06-13 22:41] #16 closed

[2018-06-15 16:43] jjtfsalgado opened #17 "Integrate custom functions in an existing excel add-in"
I have an existing excel add-in developed with the js API that inserts a task pane and I wonder if it is possible to add custom functions to it? It seems that the manifest doens't support this kind of integration.

[2018-06-15 19:34] Rick-Kirkham commented on #17
It is possible. You can add a ExtensionPoint of type CustomFunctions to the manifest of an existing add-in.

[2018-06-15 19:34] #17 closed

[2018-06-18 10:03] jjtfsalgado commented on #17
Thank you @Rick-Kirkham. I did that already but I sill didn't managed to load the custom functions. The other task pane add-in its working fine, but the custom functions don't appear. And when I load the add-ins in separate they work just fine.

I added the custom functions extension point, added the custom functions bit to the resources Urls and ShortStrings and replaced the html source location

[2018-06-18 20:46] Rick-Kirkham commented on #17
@jjtfsalgado Since your problem is with your own add-in with custom functions, its not really an issue with the sample in this repo. Please raise your issue on StackOverflow and tag it "office-js". It will be seen by more experts and the answers that you get will be available to the whole community. Thanks.

[2018-06-28 14:20] jjtfsalgado opened #18 "Refresh custom functions output"
I deployed some custom functions that fetch data and I wonder if there is any way to recall them ir order to refresh the output?

[2018-06-28 17:17] Rick-Kirkham commented on #18
@jjtfsalgado Do they not rerun if you recalc the worksheet?

[2018-06-29 12:49] jjtfsalgado commented on #18
Yes, thank you

[2018-06-29 12:49] #18 closed

[2018-07-02 08:29] doria90 opened #19 "Questions on future plans"
Hey Guys,
This is more of a question than an issue:
How is this going to be implemented in future builds?
I'm guessing side-loading add-ins won't happen with day-to-day users so, is there a plan to embed JavaScript code within Excel files OR will JavaScript in Excel will always be through add-ins?

I am eager to hear your response.
Thanks,
Amit.

[2018-07-13 06:39] trionfo1993 opened #21 "Can force return when resolve the result？"
My customer function link to my company's database and which i get can be string or number,  they want number can be formatted, but in json, i can only design 1 type.

[code]

[2018-07-13 06:48] trionfo1993 commented on #8
![=AVERAGE](https://user-images.githubusercontent.com/12521383/42676614-7009e9da-86ab-11e8-8c04-27576aa40545.PNG)
Like this, I can input an unspecified number of params and get it in my function
[code]
can i get params from arguments not like this?

[2018-07-18 05:27] georgechr opened #22 "Custom functions with latest release build"
Will the sample (and to that extend, custom functions) work with the latest builds of office-js, 1.1.8 or 1.1.9?
As far as I can see neither `Excel.CustomFunctions` or `Office.Preview.StartCustomFunctions` exist anymore.

Can you provide us with a sample working against the latest versions of office-js?

EDIT: Just noticed that a '1.1.9-custom-functions-preview.5' tag exists. Still, what are the p

[2018-08-06 18:57] keyur32 commented on #19
Hi @doria90,  in terms of custom functions, these are meant to be additional capabilities for existing add-ins, and in general will follow that model for acquiring them and updating them. Whenever a workbook is shared across users, the recieving user will be prompted to enable the add-in to continue using these functions.

There is one caveat that Excel desktop will maintain a cache of these for p

[2018-08-06 19:02] keyur32 commented on #21
As of right now, this capability doesn't exist (to return a 'variant' type), but is on our backlog.

- For now, I'd recommend we return a Rejected Promise in your case above, and that will cause Excel to show #VALUE!:  https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/reject

[2018-08-06 22:35] keyur32 commented on #13
Hi folks, just following up on this thread. Right now, we're working on enabling debugging for the custom functions runtime (which is not dependent on the browser).

That said for now, a good option to debug your logic is to sideload your add-in on https://www.office.com/ in Excel Online  (Insert > Add-ins > Manage My add-ins > Upload...). There you can use the F12 tools to debug both custom funct

[2018-08-06 22:35] #13 closed

[2018-08-06 22:37] keyur32 commented on #4
We've been chatting with @EdwinStraver offline. We're working to introduce this API, which will be passed into asynchronous functions as a method on the invocationContext.getAddress() (a parameter that we pass into your function).

I'll keep this open for now until we have support in the Office Insiders build.

[2018-08-06 22:38] keyur32 commented on #21
@mscharlock who will get our documentation updated to call out how to pass back errors.

[2018-08-06 22:39] keyur32 commented on #19
Marking this issue as closed. Let me know if you have additional questions. thanks.

[2018-08-06 22:39] #19 closed

[2018-08-06 23:29] keithalewis commented on #4
FWIW, this is available in the C SDK. It is called xlfCaller. https://docs.microsoft.com/en-us/office/client-developer/excel/xlfcaller.

[2018-08-10 21:06] Zlatkovsky commented on #21
As a quick answer:  to return a rejected promise, just have your `.catch` block call a `reject` (and have your promise constructor take in both a `resolve` and a `reject`).  I.e.,:

    function BASIC(Ticker) {
        /// ...
        return new OfficeExtension.Promise(function (resolve, reject) {
            axios.get(url)
                .then(function() {
                    // ...

[2018-08-15 01:37] patrick-fulghum opened #26 "What do you mean"
Publish the code files (HTML, JS, and JSON) to localhost. I may be a shrub, but i don't know how to do this.

[2018-08-16 23:35] mscharlock commented on #21
@trionfo1993 I think the code provided by @Zlatkovsky should solve your issue. I'm going to close this issue, but can reopen if you have additional questions. :)

[2018-08-16 23:35] #21 closed

[2018-08-20 15:26] keyur32 commented on #22
Hi George,

Custom Functions is still in preview so you can get that access by referencing, as shown in this repo:
`https://unpkg.com/@microsoft/office-js@custom-functions-preview/dist/office.js`

While the feature is in preview, we are maintaining release notes here: https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-overview#changelog

Was your question more around when w

[2018-08-21 06:34] georgechr commented on #22
@keyur32 Thanks for your response.

My question was mostly answered in a [stackoverflow question](https://stackoverflow.com/questions/51383756/add-custom-functions-to-task-pane-add-in/51681432) by yourself!

We're working on a task pane add-in at the moment and we would like to call and set custom functions on the worksheet based on certain actions/parameters coming from the task pane.

Furthermor

[2018-08-25 07:44] PeterTippett opened #32 "Accessing Sheet Properties fro Custom Functions"
When I do this call, it returns nothing when using "Custom Functions".  The same code works with the  Addin model.  I actually want to share data between two Add-ins.

I expect the problem is loading the context.

Sample Code that is used in both.

[code]

[2018-08-27 16:47] mscharlock commented on #26
I'm going to close this issue for now, but I am happy to reopen if you need additional help!

[2018-08-27 16:47] #26 closed

[2018-09-04 23:07] mscharlock commented on #32
Hi @PeterTippett, thanks for writing in! The custom functions engineers are hard at work on a solution for this problem as we speak! I believe we will have a blog post with some information I can point you to very soon.

[2018-09-24 20:15] mscharlock commented on #32
Hi @PeterTippett - please check out the new changes to custom functions. The latest changes have introduced a new JavaScript runtime and AsyncStorage, which should allow you to share data between add-ins. Documentation can be found here: https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-runtime. Let me know if you need additional help!

[2018-09-25 10:00] PeterTippett commented on #32
Thanks for this. Need to have a full working example as current access the AsyncStorage call for some reason. How is this new code base accessed?

[2018-10-01 11:29] PeterTippett commented on #32
Accessing the new Runtime so can use the Asycn Function, but not working.

This line from the documentation seems to imply that this only works with Addins that have normal UI activity. This implies that can now have custom functions as part of the normal Addins.

Only custom functions within an add-in will use the new JavaScript runtime that's described in this article. If an add-in includes othe

[2018-10-02 19:30] keyur32 commented on #32
(copying response from separate thread)

Hey Peter,

Given custom functions execute during Excel's calculation chain, we want to make sure the APIs we expose can work consistently across all platforms. Last week, we updated the runtime on Excel Insiders: https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-runtime.

On Desktop and eventually MAC versions, you will only have a

[2018-10-13 17:31] gmichaud opened #57 "Calculation speed on Mac"
I'm evaluating the feasibility of migrating our .NET Excel add-in and custom functions library to the new JavaScript custom functions. The performance on Mac for the simple functions seems really poor; is that a known issue? Here's a sample using the CONTOSO.ADD function: http://recordit.co/madOVzAHAH. What kind of performance can we reasonably expect once this becomes generally available?

[2018-10-15 04:02] keyur32 commented on #57
Hi @gmichaud, thanks for trying this out. Can you provide more details of your .net add-in? i.e. is it a COM based automation add-in or does it compile down to an .xll?

Goal is to be as fast/faster than VBA UDFs.  By default, functions will run in their own seperate app container (this is running on Windows currently via the custom functions runtime. See https://aka.ms/customfunctions for more in

[2018-10-15 13:46] gmichaud commented on #57
Hi @keyur32, thanks for your reply. [Our product](www.velixo.com) is a set of functions and tools that allow you to build financial statements with live data coming from an ERP/accounting system. It is a C# library that's packed into a XLL with the help of [ExcelDNA](https://github.com/Excel-DNA/ExcelDna). We connect to a cloud-based ERP and to achieve the best possible performance we synchronize

[2018-10-22 09:56] ThorstenHans opened #58 "broken due to command start is not listed as dependency"
Currently, users aren't able to execute `npm start`. Internally an executable is used called `start` also after installing `start` it doesnt work because the `npm` script name has higher priority.

[2018-10-22 14:42] akrantz commented on #58
`npm start` should execute the script listed in package.json ` { "scripts" {  start: "" } }`. There is no need to install any dependencies for start functionality. If you are not seeing this behavior, please provide more info such as the version of Node/NPM that you are using. There should be no need to change anything here, but I'd like to understand what is happening for you.

[2018-10-22 21:12] PeterTippett opened #64 "Difference between On-Line and Local Copy for Custom Functions - Not Workings"
Currently my Custom Functions loads for the On-Line version for Mac and PC and works with no problems but errors for Mac and PC local versions of Excel. I'm running the Fast Insider Version. Mac is 16.19 (181018) and PC is 1811(11010.20003).

`<?xml version="1.0" encoding="utf-8"?>
<OfficeApp xmlns="http://schemas.microsoft.com/office/appforoffice/1.1"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-

[2018-10-24 03:33] keyur32 commented on #22
thanks for the additional details above.Yes all of those should work, along with your mechanism to share code between your customfunction and taskpane. The caveat there is to make sure it works with the new runtime changes that were pushed out to Windows Insiders builds: https://aka.ms/customfunctions for more info.

[2018-10-24 03:33] keyur32 commented on #22
Closing for now, feel free to reactivate if needed

[2018-10-24 03:33] #22 closed

[2018-10-27 06:30] ThorstenHans commented on #58
The PR is already merged on the `master` branch,

but `generator-office` is pulling the branch `preview-sept-2018-javascript` for JS and `preview-sept-2018-typescript` for TypeScript. So everyone trying to create a new Office Add-in to test *Custom Functions* - on macOS and Linux - will run into this issue until the changes are reflected to the mentioned branches

[2018-10-27 06:58] ThorstenHans opened #63 "Custom Functions not working on macOS"
I've created a sample Add-in to try custom functions in Excel on macOS.

The Add-in loads correctly but none of the custom functions can be executed from within Excel. Excel just prints `#NAME?`.

macOS: 10.13.6
Excel for Mac: 16.19 Build 181024

Office Insider program is joined by setting insider builds to `Office Insider Fast` in *Microsoft AutoUpdate*

[2018-10-27 14:52] TCourtneyOwen commented on #58
Good point! I will get that fixed today. Thanks for pointing that out.

[2018-12-03 19:37] TCourtneyOwen commented on #63
I haven't had a chance to check out custom functions on Mac personally, but I opened a bug a few weeks back about CFs not working on Mac and the bug was resolved back to me this morning as fixed with the following comment: "Fixed by publishing mac js version on github."

-Courtney

[2018-12-13 22:22] keyur32 commented on #4
Hey folks,

Good news, starting on the December insiders build 1901 (Build 11128.20000), this is now available!  We'll have official documentation updated at a later time (and I'll close this then).  But for now here is what you need:

a) In your customfunctions.json metadata, for the function you wish to add:
      options : { "requiresAddress":  true }

b) In your code, it will be the last param

[2018-12-13 22:23] keyur32 commented on #8
Hi all, happy to say this is fixed. You'll wnat the lasted Office Insiders build, try 1901 (Build 11128.20000) for safe measure.

[2018-12-13 22:30] keyur32 commented on #14
Hi all, it looks like this thread was resolved. Yay. If you need more info about making web calls, please see the documetnation on the custom functions runtime: https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-runtime

[2018-12-13 22:30] #14 closed

[2018-12-13 22:32] keyur32 commented on #5
Update: this feature is under development and we're working hard to make it available in the January update to the Office Insiders build. Will let you know when it is available.

[2018-12-13 22:59] keyur32 commented on #64
Hey @PeterTippett -  I left a comment for the TypeScript Gist file: https://gist.github.com/keyur32/604fe058e0f4192a899fa4fd85961f5a  (We'll have built in samples for custom functions in ScriptLab at a later time). thanks.
I'll use the other thread to comment and close this instance.

thanks.

[2018-12-13 22:59] #64 closed

[2018-12-14 01:45] keyur32 commented on #57
Hi Gabriel, just came back to to this and marking as under investigation. We're going to start looking at Mac performance after the holidays so we'll see what is possible here.

[2018-12-14 01:45] keyur32 commented on #57
Will keep you updated on our weekly call ;)

[2018-12-15 20:52] atestu opened #72 "Custom functions not showing up"
Here's my excel version, on Windows:

<img width="376" alt="screenshot 2018-12-15 15 48 58" src="https://user-images.githubusercontent.com/22851/50047345-2a2ec480-0081-11e9-8197-4bab7bc98934.png">

I ran `npm start` and it does load the add-in but not the custom functions part. I see the pane but that's it. I must have reinstalled office 5 times today... I used the office deploy tool and changed t

[2018-12-17 19:35] keyur32 commented on #72
Hey, sorry for the issue and thanks for reporting.  We confirmed, the december update has an install a bug on the 32 bit version of windows. We're working to get it fixed as soon as possible.  To workaround, you can install the 64 bit version of the Office build.  Additionally, you can build your add-in using Excel Online until we get it fixed.  Apologies for the inconvenience.

[2018-12-17 19:50] keyur32 commented on #72
Here is also a workaround for you on the 32 bit version you can follow:
1. Download the file to: https://github.com/OfficeDev/Excel-Custom-Functions/blob/december-insiders-workaround/excel-udf-host.win32.bundle
2. Copy it your "C:\Program Files (x86)\Microsoft Office\root\Office16" folder.

This bug should be fixed in the next insiders build update in min January. thanks again

[2018-12-18 01:31] atestu commented on #72
I actually have the 64 bit version installed, which I just reinstalled just in case... I also put that file in the folder in question (had to create root/Office16 though) and it still isn't working.

My Windows version is Version 10.0.17134 Build 17134
Using a brand new Surface laptop 2

[2018-12-18 02:02] atestu commented on #72
I tried uploading the manifest.xml file in Excel online and nothing happens at all. The sidebar doesn't open and when I go back to the add-in menu it's like I did nothing

[2018-12-18 03:18] keyur32 commented on #72
Thanks. Odd, Ok,

On Excel Online:  Do you get any errors written to your browser console?

On windows can you try the following:
https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-best-practices#troubleshooting

and let me know what errors you get. Likewise, if you go to File > Send Feedback > Send a frown, we will also be able to collect some logs.  We'll hopefully have d

[2018-12-18 04:04] atestu commented on #72
Yes the error is the CORS error and I don't know how to fix it tbh.
HOWEVER, I cloned the preview-sept-2018-javascript branch of this repo and it works in Excel desktop! 👍

[2018-12-18 19:42] keyur32 commented on #7
Marking issue closed. feel free to reopen!

[2018-12-18 19:42] #7 closed

[2018-12-19 21:41] atestu commented on #72
I tried in Edge and Firefox

[2018-12-21 18:21] akrantz commented on #72
The CORS issue has been fixed with https://github.com/OfficeDev/Excel-Custom-Functions/pull/73.

Also, just so you are aware, we have reverted Yo Office back to use the Sept 2018 preview version. That is the "yo-office" branch of this repository. The master branch still has the latest changes which you can try out and provide feedback on.

[2018-12-21 18:22] #72 closed

[2019-01-05 00:58] akrantz commented on #63
@ThorstenHans I tried it today on Mac and it worked. Please re-open if you are still having issues.

[2019-01-05 00:58] #63 closed

[2019-01-10 03:38] yuyueugene84 opened #112 "The Add-In loaded correctly, but there is no CONTOSO function"
The Add-In did show on the sidebar for me, but when I try out the CONTOSO function in step 5, excel did not have such a function.  I'm using 64-bit Excel with Insider program, and already configured the Trusted root certification in step 3.

(Issue encountered when trying to complete the Excel Custom Functions tutorial: https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/excel-tutorial-c

[2019-01-18 22:07] mscharlock commented on #32
Hi @PeterTippett - I believe this issue was solved on a separate thread so I'm going to close this issue, but please let me know if you would like me to reopen it, happy to do so.

[2019-01-18 22:07] #32 closed

[2019-01-25 12:10] eldargum opened #87 "function stockPrice(ticker) doesn't work in 1901 build"
Hi! in the previous version the custom function works fine, and now the error #VALUE! is returned.

Following the instructions in: [Excel custom functions tutorial (preview) - Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/excel-tutorial-create-custom-functions?tabs=excel-windows)

[2019-01-25 17:46] kbrandl commented on #87
@eldargum thanks for reporting this issue. Since this sounds like a product issue (not a documentation issue), I've transferred it to the OfficeDev/Excel-Custom-Functions repo, which members of the product team monitor for issues like this.

[2019-01-25 18:41] akrantz commented on #87
There is a known bug with XHR in the build which is causing this. A fix is being worked on.

[2019-01-25 20:32] keyur32 commented on #87
Hi @eldargum, apologies! We introduced a pair of impacting bugs that are currently being fixed:

a) fetch calls in the 1901 build fail on windows. They should work on Excel Online. As a workaround, you can use XMLHTTPRequest (XHR) to make the call. See [this ScriptLab add-in gist]((https://gist.github.com/keyur32/bf0d9a41493b510e8e640c7624db1862)) which has a stockprice example using XHR, which sh

[2019-01-26 02:59] keyur32 commented on #4
This is fixed and docs are updated. closing this issue.

[2019-01-26 02:59] #4 closed

[2019-01-28 15:05] eldargum commented on #87
@keyur32 , thanks for explaining!

[2019-01-28 15:05] #87 closed

[2019-01-31 09:56] OSjoerdWie opened #109 "Example functions return #N/A"
Prebuilt custom function does not seem to work on Excel Desktop.

## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/excel-tutorial-create-custom-functions?tabs=excel-windows

## Issue
Following the steps until **Try out a prebuilt custom function** went successful. However, after entering =CONTOSO.ADD(10;200) the result went from "#GETTING DATA"  to "#N/A" instead of 210

[2019-02-05 00:55] keyur32 opened #101 "Excel Custom Functions Return #N/A on build 11328.2008"
Build 113298.2008 has an issue that prevents Excel Custom Functions from running. This issue has been fixed that will be rolling out as another update to Insiders in a couple of days.

If you haven't updated your build, wait for a few days (we'll close this issue when fixed). Otherwise, you can continue to build your solution on Excel Online.  Sorry for the inconvenience!

[2019-02-05 03:20] eldargum commented on #101
Thanks @keyur32 , we're waiting.

[2019-02-06 01:55] keyur32 opened #102 "Streaming Custom Functions will not re-calculate using Office JS Calculate API"
Excel custom functions currently won't recalculate when performing the calculate event.

[2019-02-06 01:57] keyur32 opened #103 "Excel Online: Functions getting stuck on #GETTING_DATA"
Certain times, we have seen custom functions evaluate it and then after a bit, start returning #GETTING_DATA.

[2019-02-06 16:26] keyur32 opened #104 "Excel: Error Installing add-ins if your function name already exists"
Bug: If you have an add-in with the same namespace and same function name already registered, an existing add-in will no longer work.

Upcoming fix:  We will provide a better error message here. We did not want to have the same VBA behavior as showing up 2 functions with the same name but you could only call one. We will plan to make this expereince better with the ability to disambiguate the func

[2019-02-06 16:29] keyur32 opened #105 "Excel: ScriptLab will show an Invalid Metadata alert when re-registering a custom function"
In an upcoming build, there is a bug where scriptlab may show the following error on registration:

![image](https://user-images.githubusercontent.com/3476087/52356528-40099780-29e9-11e9-956b-0945d35caf84.png)

*Workaround*: Reboot Excel or open ScriptLab on Excel Online.

*Fix*: will be in March release

[2019-02-06 16:58] keyur32 opened #106 "Better error messages in runtime logging"
This will come a bit after release but this issue tracks our plan for more meaningful runtime logging error messages.

[2019-02-06 17:02] keyur32 opened #107 "Repeating Parameters [tracking item]"
We will plan to have repeating parameters after Custom Functions will become GA. This is a tracking issue for that.

General idea would be to declare: {"repeating": true} for your parameter

[2019-02-06 17:08] keyur32 commented on #103
Ask: If partners are seeing this issue, please add a comment below with repro steps or cases when you see this.

[2019-02-06 17:12] 4tti commented on #103
Actually, I've checked it yesterday and I was not able to get custom functions working on Excel online always seeing this #GETTING_DATA error, refresh did not help (and the custom function is simple function returning just hard-coded string).

[2019-02-06 17:47] fds-ssg opened #108 "Calc not working on custom function created via Replace"
Workflow:

1. In Excel PC, I have a UDF implemented via XLL, "=FDS()", throughout an existing workbook.
2. Still in Excel PC, perform a Replace to change all instances of "FDS(" function to "CUSTOMJS.NEWFDS(", which is the name of a custom function that will be implemented by an Office JS add-in.  That add-in is **NOT** currently installed on the PC version of Excel.
3. Save the "translated" workb

[2019-02-06 18:01] keyur32 commented on #108
Ah, thank.

- This is because internally the XLL's save out as "=_xll.FDS()" or "_xll.CUSTOMJS.NEWFDS(".
- For Javascript Custom Functions, we by default save out with a different prefix "_xldudf". This denotes the feature is saved as a JS custom function, and in current builds, we only look at.

For developers with existing XLLs and COM add-ins, we are working on a 'compatibility' mode, were in y

[2019-02-07 17:04] akrantz commented on #109
See #101

[2019-02-07 17:04] #109 closed

[2019-02-11 03:51] keyur32 commented on #101
This updated build has started rolling out to the Insiders Fast, it will be build 16.0.11330.20014. Currently at 25% and should be resolved over the next day or two.

thanks!

[2019-02-11 03:55] keyur32 commented on #103
Thanks @4tti, do you have a scriptlab gist you can share with the simple function? That can help use debug?
Also, note, if #GETTING_DATA will shown if the function never returns. This could be due to your function not being able to resolve the promise.

(Btw, we did identify an issues intermittent #GETTING_DATA and this fixed has been checked in, will likely be available in ~March).

[2019-02-11 17:15] keyur32 commented on #101
It appears this build has been deployed out to 100% on the Insiders channel. Marking this as fixed.  Please update your Office build to **16.0.11330.20014**

[2019-02-12 16:54] keyur32 commented on #112
Hi @Blacksmoke16,

Can you try to update your build to 11330 and try again? We did have this issue: #101 and that has been resolved.

If the add-ins are showing and the functions aren't appearing, can you also turn on runtime logging please?

[2019-02-13 02:36] Blacksmoke16 commented on #112
Updated Excel.  Am now currently on Version 1903 Build 16.0.11406.20002 64-Bit.

I started a new project following the tutorial, but same issue.

I also tried enabling logging, however it didn't seem to do anything?

![image](https://user-images.githubusercontent.com/12136995/52682613-103d2100-2f0e-11e9-9baf-95c8cd54a98b.png)

[2019-02-13 15:54] 4tti commented on #103
Hey @keyur32, no I don't have it, I would have to replicate. I just created sample with Test function which does not have any callback, simply returns "Test" string. But I did not check it from last week, maybe it is already fixed. I can get back here once I have a bit more time to check it.

[2019-02-14 15:37] eldargum commented on #101
@keyur32 , I upgraded to 11406 build but the custom function returns #VALUE!

[2019-02-15 02:23] keyur32 opened #115 "XHR/Fetch requests return #VALUE! on Windows build 16.011406.20002"
Custom Functions on Windows that use XML or Fetch will see #VALUE! as the XHR call may fail.

To workaround, please use: Use Mac or Excel Online

[2019-02-15 02:25] keyur32 commented on #115
Will be fixed in the next build

[2019-02-16 20:04] keyur32 commented on #112
thanks! @akrantz can you help take a look? @Blacksmoke16, may be best if we try to debug with you (so we can learn and then document this for others). i'll reach out offline. thanks!

[2019-02-16 20:39] keyur32 commented on #101
Hey @eldargum, yea, sorry, this issue got fixed but then we had another issue come in: https://github.com/OfficeDev/Excel-Custom-Functions/issues/115

[2019-02-16 20:39] keyur32 commented on #101
Closing this one, as we'll track the other one on the 11406 build.

[2019-02-16 20:39] #101 closed

[2019-02-19 04:49] keyur32 commented on #103
Hi @4tti, we were able to find a repro internally and have deployed the fix. Marking this as fixed.

[2019-02-19 04:52] keyur32 commented on #115
This has been fixed and we are waiting the next build to rollout to Insiders Fast channel.

[2019-02-20 05:43] keyur32 commented on #112
We were able to resolve. Issue is the current preview requires **Office 365 Professional Plus**. It will not work with the **Home and Student** version.

[2019-02-27 00:19] keyur32 commented on #115
The build has now been deployed. Please update your build to **Version 1903 (11414.200014)**

[2019-02-27 00:31] keyur32 opened #118 "[Tracking item] Support for cookie based authentication between Custom Functions and Taskpane/Dialog"
Currently we have support in the custom functions runtime to pass tokens between the taskpane and dialog to the custom function via Async Storage.

This doesn't work for cookie based authentication as the httpOnly cookie is not exposed to Javascript by the browser.

Team needs to evaluate this ask and prioritize accordingly based on what we can do.

[2019-02-27 02:25] keyur32 commented on #102
Based on partner input, Excel has a new behavior where for streaming functions, we will cache and batch calls that have the same parameters, to become more inline with the =RTD() function behavior that exists currently in Excel.

[2019-02-27 17:32] 4tti commented on #118
@keyur32: extremely important case.

[2019-02-27 23:10] mscharlock commented on #5
Also a note: This feature has been documented in advance of release if you want to check it out! Release of the bits that support this feature should be imminent (next week and a half or so).

[2019-03-01 08:49] eldargum commented on #115
@keyur32 thanks! it's working. But when I use XMLHttpRequest to my local IIS I see only #GETTING_DATA and #VALUE! after 1-2 minutes as a result of my custom function. I copied the certificate to trusted folder.
And second question  - when will the Custom function be in Production, not Preview?

[2019-03-06 02:32] keyur32 commented on #115
Hey @eldargum, what build are you seeing this under? On Windows, Online or Mac?

(We're hoping to stabilize these last set of issues and we'll be close to getting add-ins with custom functions ready for GA (at least our V1) -- barring any last minute issues; so please continue to report bugs! :)

[2019-03-06 02:33] keyur32 commented on #103
Marking as closed

[2019-03-06 02:33] #103 closed

[2019-03-06 02:34] keyur32 commented on #105
Fixed and deployed, closing

[2019-03-06 02:34] #105 closed

[2019-03-06 02:34] keyur32 commented on #112
Marking as closed

[2019-03-06 02:34] #112 closed

[2019-03-06 02:39] keyur32 opened #120 "[FYI] #GETTING_DATA will be changing to "#BUSY!""
We are changing the status that custom functions show while calculation.

Why?
1. #GETTING_DATA wasn't accurate in all cases.
2. #GETTING_DATA caused users columns to resize (so trying to decrease width for most locales).

Build you will start seeing this: Any build > 16.0.11505.10000.

[2019-03-06 02:41] keyur32 commented on #108
Fixed in 16.0.11505.10000 build. Any build after that will have the capability to save back to older format.

[2019-03-06 11:45] eldargum commented on #115
Hi @keyur32, I use 11414.20014 build on Windows.

[2019-03-06 18:54] keyur32 commented on #115
Thanks, can you also share the runtime log. You can ping me directly: kepatel@microsoft.com. thanks!

[2019-03-10 23:31] delium commented on #120
acroding to your note, we should already see this but we don´t. my excel online version 16.0.11506.35050

also always getting some error message, see attatchment:
![image](https://user-images.githubusercontent.com/7172621/54093139-a2610980-4394-11e9-83f0-8935a43cfed3.png)
![image](https://user-images.githubusercontent.com/7172621/54093147-b4db4300-4394-11e9-8701-43e04b35fcb2.png)

[2019-03-10 23:35] delium commented on #5
should this already supposed to work in excel online? my build is 16.0.11506.35050
also the scheme does not include volatile option:
https://developer.microsoft.com/en-us/json-schemas/office-js/custom-functions.schema.json

[2019-03-11 01:02] GeorgeHung opened #122 "Sample not working on Mac"
I was trying the sample from https://github.com/OfficeDev/Excel-Custom-Functions on my mac, all the functions returns #GETTING_DATA other than the log function.  It is probably probably because Excel has a log function already.  I am using version 16.24(190306).

[2019-03-11 03:48] keyur32 commented on #120
Hey there, this hasn't yet deployed (at least on the Windows Insiders Fast build, was was still on 16.0.11425.20036). Online is slightly behind as far as I'm aware so it doesn't surprise me that is not there either.

[2019-03-11 03:50] keyur32 commented on #122
@akrantz - can you help take a look at this one one?

@GeorgeHung  - yes, current behavior if you create a function that matches a built-in function name, that built -in function takes precedence and executes (unless it has a namespace), which is similar to VBA behavior.

[2019-03-11 04:00] keyur32 commented on #115
Marking this closed as it is something related to the developer environment (still checking to see what that culprit is for that ).

[2019-03-11 04:00] #115 closed

[2019-03-11 16:11] keyur32 opened #123 "Excel Online is returning #VALUE! for custom functions"

[2019-03-11 16:59] akrantz commented on #122
The sample uses CONTOSO as the namespace so CONTOSO.LOG should not conflict with built-in LOG function. I will investigate further.

[2019-03-12 15:54] keyur32 commented on #123
Should be fixed now. Thank you.

[2019-03-13 04:34] davidchesnut commented on #123
Looks like it is fixed, so closing the issue.

[2019-03-13 04:34] #123 closed

[2019-03-13 15:43] GeorgeHung commented on #122
I just upgraded to build 190310, and not the functions return #VALUE!.

[2019-03-13 15:55] akrantz commented on #122
@GeorgeHung I will look into this today.

[2019-03-13 21:37] akrantz commented on #122
@GeorgeHung This should be fixed now. Please let me know if it works for you.

[2019-03-13 21:38] #122 closed

[2019-03-13 22:12] GeorgeHung commented on #122
Can you tell me which build should have the fix?

[2019-03-13 22:16] akrantz commented on #122
The same one. There was a misconfiguration that should be updated to resolve the issue.

[2019-03-13 23:04] GeorgeHung commented on #122
I tried apply your change of removing the requirement set in the manifest, and then the ADD function returns #BUSY!.  Are there other change I need to apply?

[2019-03-13 23:28] akrantz commented on #122
No. The <Requirements> in the manifest won't have any effect. It was only removed because manifest validation fails right now for it.

The fact that #BUSY! shows is good, and it should shortly show the actual value afterwards. Was it able to complete?

[2019-03-13 23:31] GeorgeHung commented on #122
No the value stays as #BUSY!.

[2019-03-14 19:18] akrantz commented on #122
@GeorgeHung Hi George, can you please check again?

[2019-03-14 20:26] GeorgeHung commented on #122
It is still not working.  Do I need to update anything before I try it?

[2019-03-14 20:31] akrantz commented on #122
You might check for updates. I am trying 190313 right now.

[2019-03-14 20:46] GeorgeHung commented on #122
I just updated to 190313, and still no luck.

[2019-03-15 00:50] akrantz commented on #122
Are you on Insiders Fast?

[2019-03-15 15:28] GeorgeHung commented on #122
Yes.  I am on insider fast.

[2019-03-15 22:42] GeorgeHung commented on #122
The strange things it that our custom functions are working.  However, the custom functions in the sample aren't.

[2019-03-16 00:48] akrantz commented on #122
Agreed. There are docs online about clearing the cache. Maybe that will help resolve the issue.

[2019-03-22 17:49] fds-ssg commented on #108
I don't see the new behavior in Excel on the PC, Office Insider Version 1904 (Build 11514.20004).  Upon sideloading the add-in (`npm run sideload`) with the EquivalentAddins tags in the manifest, the Office log seems to indicate that tag is not valid:

`3/22/2019 13:36:35	Monitorable	Manifest	Skipped unrecognized XML element for add-in ID : babb1e22-6204-4a76-8e3b-ba686d8481c2, Location : Element

[2019-03-26 20:47] keyur32 commented on #108
Per offline thread, this hasn't fully rolled out. We'll share instructions to get early validation with our launch partners first before enabling it for others.

[2019-03-26 23:02] keyur32 commented on #5
Hi, I just looks like this hasn't rolled out to all versions on Excel Online. I added the awaiting prod deployment until I can verify on Excel Online environments.

[2019-03-26 23:04] keyur32 commented on #5
I need to update the schema as well but you can still use it on Desktop afiak.

[2019-03-26 23:04] keyur32 opened #129 "Update JSON Schema to include Volatile Functions"
https://github.com/Microsoft/json-schemas/blob/master/office-js/custom-functions.schema.json

Needs to be updated to include a note about volatile functions

[2019-03-29 14:55] alaincao opened #130 "Question: How to pass configuration parameters to custom function's JavaScript context"
Hello there, this is more a question than an issue ; I hope this is the right place to ask ...

How can I pass general server configuration values to the custom functions context?
e.g. I have no problem within the taskpane context because I have access to a DOM where I can generate things like
[code]
but I have difficulties understanding how to do that for the CustomFunctions context since there i

[2019-03-29 15:02] akrantz commented on #130
Yes, AsyncStorage can be used to write the configuration info from the taskpane code and then be read from the custom functions code.

You need to bundle the JavaScript for custom functions into a single file. The code here uses webpack for this.

[2019-03-29 15:44] alaincao commented on #130
Ok, I see, that's what I feared. Thank you for the response.

So my question becomes: will there ever be some kind of "push notifications" between the CustomFunctions and taskpane contexts like `Office.context.ui.messageParent()` that is used between popup windows and their parent?

Sorry, another one: where are stored the `AsyncStorage` values (when used from the online Excel) ?
In the browser's

[2019-04-03 16:55] LouMM opened #131 "Issue: Multiple Functions with the same namespace causes runtime issues (stop gap fix)"
If multiple functions are registered under the same namespace, it causes an ambiguous runtime error. A possible workaround could be to not include the namespace, or generate a unique namespace based off the name of the function.

[2019-04-08 15:55] keyur32 commented on #131
Closing this since it is being tracked by Issue #104.  Will add notes there.

[2019-04-08 15:55] #131 closed

[2019-04-08 15:56] keyur32 commented on #104
Additional workaround from @LouMM  - If multiple functions are registered under the same namespace, it causes an ambiguous runtime error. A possible workaround could be to not include the namespace, or generate a unique namespace based off the name of the function.

[2019-04-08 16:01] keyur32 opened #133 "OfficeRuntime.AsyncStorage API name change to "OfficeRuntime.Storage""
Hey folks,

OfficeRuntime.AsyncStorage to OfficeRuntime.Storage.  Your existing add-ins will continue to work for a short period of time as this is one of the last items we want before we announce general availability!  It will be available along with custom functions in our production CDN in a few weeks time.

[2019-04-08 16:04] keyur32 commented on #130
Hi @alaincao, yes, we are working on a 'dispatch' model so you don't have to continuously poll. This will be a way to send messages and won't persist to disk. We'll share info during our Custom Functions call, but will not on our V1.  Fill this out if you want to join our weekly call and I'll reach out: https://aka.ms/customfunctionscall.

On Excel Online (and currently on Mac), AsyncStorage uses

[2019-04-08 17:22] keyur32 commented on #57
I think we had followed up offline but for our V1 GA, you should expect to see similiar performance of Function calls on Mac and Excel online. We've optimized for web requests specifically (majority of the scenarios have centered around this), and in the future we'll be looking at improving speed for functions that are doing client side calculations.

[2019-04-08 17:22] #57 closed

[2019-04-08 17:25] Reezaali commented on #130
Internal bug# 3281128

[2019-04-08 23:37] keyur32 commented on #5
Excel Online is now updated with Volatile Functions!

[2019-04-08 23:38] keyur32 commented on #120
Should be updated

[2019-04-08 23:39] keyur32 commented on #129
Updated

[2019-04-09 18:26] noon-otter opened #135 "Question: What is the timeline for not requiring Insider Level status?"
Ie. is there a future where this project supported for use in production environments?

[2019-04-09 18:35] keyur32 commented on #135
Soon! Keep a look out here and I will circle back when we are available.

We would also love to hear what you are building as well. Can you fill out https://aka.ms/customfunctionscall?

[2019-04-10 14:25] TheWass commented on #133
Will the new OfficeRuntime.Storage still be async?  Just a name change?

[2019-04-11 19:54] haboutnnah opened #136 "[x-post /office-js] #NAME Error Despite Following Instructions"
## Expected Behavior

To be able to activate a defined function using a name.

## Current Behavior

I get a name error

## Steps to Reproduce, or Live Example

https://github.com/haboutnnah/excel-anime-addin

`npm run build` and `npm start` work perfectly.

When opening Excel, I get a message stating that the addons loaded properly.

The task pane functions. (How do you disable this feature entire

[2019-04-12 06:32] keyur32 commented on #136
Hey there sorry you are seeing an issue. For windows, can you share your runtime logging?  Or on excel online, f12 developer tools can show this.

See the troubleshooting guide at https://aka.ms/customfunctions.

If the taskpane is loading but functions aren’t it could be that excel can’t access the functions.json file (should be auto generated and put into the dist folder).

[2019-04-12 06:33] #129 closed

[2019-04-12 06:33] #120 closed

[2019-04-12 06:33] #5 closed

[2019-04-13 05:24] haboutnnah commented on #136
Runtime logs don't work.

My runtime log:

[code]

Directory list for `./dist`:

[code]

[2019-04-13 05:28] keyur32 commented on #136
Thank you. One more question what type of subscription are you using? Is it a Pro plus version, home & student, or business?

[2019-04-13 05:29] haboutnnah commented on #136
Microsoft Office Professional Plus

[2019-04-13 05:49] keyur32 commented on #136
Thanks, as I was able to clone your project (super helpful, btw), and it worked for me on Windows. The Professional Plus version and other notes sound correct but the log above shouldn't cut out like that.

[2019-04-13 08:47] haboutnnah commented on #136
Huh, okay. It didn't work for me on Web, MacOS, or Windows. Tried with new installs of Excel on all of the listed platforms. Any ideas?

[2019-04-13 08:51] haboutnnah commented on #136
Tried running again:

[code]

[2019-04-15 14:40] noon-otter commented on #135
Thanks! I'm looking forward to that. I'm building out an excel add-in with a panel and custom functions, and it'd be valuable to write the entire project in react/typescript - including the custom functions. The plan is to distribute it internally at my company, but I can't have every user sign up for insider status to use it.

Love the project so far. Developing for excel is much easier nowadays.

[2019-04-15 22:48] TheWass opened #137 "Feature request: Caller.address should also provide the workbook name"
I'm working on a set of Custom Functions which needs to store data tied with an individual document.  There currently is the AsyncStorage feature to interlink with the Taskpane, and the Taskpane can grab the settings data off of the document.  However, the AsyncStorage is shared across all documents.  Having a document identifier would allow data in AsyncStorage to be tied to specific documents.

[2019-04-17 02:23] keyur32 commented on #133
Hi this, is now available at:

https://appsforoffice.microsoft.com/lib/1.1/hosted/office.js
https://appsforoffice.microsoft.com/lib/1.1/hosted/custom-functions-runtime.js

@mscharlock, @davidchesnut  to update documentation on.

[2019-04-17 23:06] keyur32 commented on #137
Thanks. We will consider this, I see how the caller.address capability doesn’t include the workbook name so becomes hard to create the association. One idea could be to set a key in async storage for the value you want to store. On the taskpane you could also write that key to the document settings object and retrieve it afterwards.

[2019-04-17 23:07] keyur32 commented on #135
Keep an eye out to our channels and you will hear this “soon” enough:)

[2019-04-17 23:09] keyur32 commented on #136
Hey there still checking with team and we are stumped. Can you reach out to me and we can setup a debugging call: kepatel@microsoft.com

[2019-04-17 23:11] keyur32 commented on #107
Should be available on office online. Will resolve when tooling and docs are ready.

[2019-04-18 21:33] TheWass commented on #137
Thanks for your response!  I had considered that, and I'll probably go with that solution for the time being, the trouble occurs when you have multiple workbooks open simultaneously.  All of the workbooks read from the same Async storage.

[2019-04-26 01:22] keyur32 commented on #136
Hi there, I don't think we heard back (or I could have gotten the mail lost), Let me know if you did send a note or I will close. thanks.

[2019-04-29 15:00] keyur32 opened #140 "Centralized Deployment Deployment Tracking: Custom Functions"
This is tracking rollout of centralized deployment for Custom Functions, which will be a few weeks after we announce GA.

If your custom function add-in is in the store, then it can successfully be centrally deployed without waiting for this deployment.

[2019-04-30 22:32] keyur32 commented on #136
Closing, please let me know if you keep hitting something here - we want to help get to the bottom of what you're hitting!

[2019-04-30 22:32] #136 closed

[2019-05-01 02:12] keyur32 commented on #108
This is available on Insiders channel! Please help us verify

[2019-05-04 01:04] mscharlock commented on #133
Documentation updated!

[2019-05-07 01:56] bestekov commented on #135
Looks like the answer is... today?

https://developer.microsoft.com/en-us/office/blogs/office-extensibility-build-2019/

[2019-05-07 02:04] keyur32 commented on #135
Yes!! Build is rolling out over next day or two. You should be able to try now. Thanks for waiting!

________________________________
From: bestekov <notifications@github.com>
Sent: Monday, May 6, 2019 6:56 PM
To: OfficeDev/Excel-Custom-Functions
Cc: Keyur Patel; Assign
Subject: Re: [OfficeDev/Excel-Custom-Functions] Question: What is the timeline for not requiring Insider Level status? (#135)

Lo

[2019-05-07 06:31] keyur32 commented on #135
Marking closed as we are now GA :)

[2019-05-07 06:31] #135 closed

[2019-05-07 06:31] #133 closed

[2019-05-07 06:31] #108 closed

[2019-05-07 06:32] keyur32 commented on #108
Closing as this is available on Insiders and will be rolling to prod shortly after custom functions

[2019-05-17 13:33] margosmat opened #148 "Problem with using OfficeRuntime.storage in existing Excel Add-in"
I'm trying to share some data between my existing Excel Add-in taskpane and newly added custom-functions. When I'm trying to set/get value I get "NotImplemented: Not implemented." error.

I'm referencing this package in my taskpane page:
[code]

And I use storage in my taskpane this way:
[code]

I also use Typescript in my add-in, so I've added
[code]
package for types.
I've seen in some examples

[2019-05-17 14:56] akrantz commented on #148
AsyncStorage was the old name. It was renamed to Storage.

Here's an example that I think should help you:
https://github.com/OfficeDev/PnP-OfficeAddins/tree/master/Excel-custom-functions/AsyncStorage

[2019-05-17 14:56] #148 closed

[2019-05-21 10:13] keyur32 opened #149 "[Tracking Item] Returning built in errors from a custom function"
Currently, when you throw an error it returns #VALUE!.  This work item captures the plan to allow for a custom function to return a built in error, with a custom error message (which will be shown in a popup menu in Office 365).

[2019-05-21 12:47] margosmat commented on #148
I think that my problem was related to this: [[Excel] OfficeRuntime.AsyncStorage or OfficeRuntime.storage does not work in TaskPane](https://github.com/OfficeDev/office-js/issues/522).
Good news is that it works now ;)

[2019-05-24 17:26] smozgur opened #151 "Debug formula in Excel cell"
We can debug a formula in Excel cell by using F9 key. For example we can select the range in a formula - A1:B3 below-, and hit F9 to see the values in the given range in array form to evaluate the values:

`=SUM(A1:B3) returns to =SUM({1,4;2,5;3,6})`

In Excel Custom Functions, this feature doesn't work. It simply converts to #VALUE! as soon as you hit F9.

`=CUSTOM.SUM(A1:B3) returns to =CUSTOM.S

[2019-05-28 16:00] keyur32 commented on #151
Hi @smozgur, yes this currently is not yet supported with Custom Functions. We need to do some additional work here as JS Custom Functions are executed differently than most other functions -- meaning they are asynchronous and out of process.

This also is the case of getting #VALUE! in the formula evaluator, or when performing a calculating that involve the Excel Data Tables feature.

[2019-05-29 00:19] smozgur commented on #151
Makes sense. Thank you @keyur32.

[2019-05-30 19:36] esbanarango commented on #118
➕ for this to be supported

[2019-05-30 20:00] mscharlock commented on #107
Adding myself to this to keep track of the docs work here :)

[2019-06-05 14:24] RichardBruckshaw opened #157 "Question: 32-bit Support"
Hi, this is more a question than an issue, I hope this is the right place to ask ...

Are there any plans to support 32-bit Excel?  I would love to use this for a project that I am starting, but our organisation is stuck with 32-bit Office and moving to 64-bit would be a fairly major undertaking.

[2019-06-05 14:28] keyur32 commented on #157
Hi @RichardBruckshaw, yes, we do support 32 bit!

 I think the tutorial may have a doc bug that is going to get fixed that says it needs 64 bit (which during developer preview, we had recommended).

[2019-06-05 15:05] RichardBruckshaw commented on #157
Amazing.  Thank you.

[2019-06-05 15:05] #157 closed

[2019-06-05 16:17] keyur32 commented on #157
N/P, out of curiosity, what are you building?

[2019-06-05 17:49] RichardBruckshaw commented on #157
We are looking to expose a bunch of our internal services (financial data and portfolio construction functionality) to Excel users across our organisation.  This solution is super attractive as we can use Javascript, doesn't require installing anything on the end users machine and it can be used with office online as well other operating systems.

[2019-06-06 08:02] RichardBruckshaw commented on #157
Do you know what build number this functionality was included in?

[2019-06-06 14:41] andrewbridge opened #158 "Excel: Sample custom functions fail to install; #NAME? when using custom functions"
Hi there,

I've been trying to get the sample to work out of the box as per the instructions on the [Getting Started](https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/excel-custom-functions-quickstart?tabs=excel-windows) page.

The project initialises as expected, I build the project with `npm run build` as per step 3, then `npm run start:desktop` as per step 4.

The dev server star

[2019-06-06 20:32] keyur32 opened #159 "Excel 32 bit, Windows - Insiders Fast channel may return an "Add-in Error" and functions stuck at #BUSY!"
- If you are in the insiders fast channel (build 16.0.11727.20064), 32 bit build, custom functions get stuck at #Busy! and your taskpane may show "Add-in Error"

- To workaround, use a 64 bit build or switch your channel to Monthly, or Monthly (Targeted) of Windows.  Online and Mac versions are not affected.

![image](https://user-images.githubusercontent.com/3476087/59064687-bca96700-885f-11e9-83

[2019-06-06 20:45] keyur32 commented on #158
Hey there,

Arg, sorry for the issue and thanks for the extra detail in the issue - that helps!

It looks like you're on the right build as we try to detect and register the function. We may need to debug this on our machine locally.  Can you ping me directly: kepatel@microsoft.com and we can setup a call to try to unblock you?

[2019-06-11 17:57] andrewbridge opened #160 "Authenticated API calls from Custom Function?"
I'm currently looking to build an integration with an API that uses a JWT token for authentication.

I'm just looking to pull data with GET calls with

[code]

as a header.

Based on the ["Receive and handle data with custom functions"](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-web-reqs) page in the documentation, it looks as though the set of headers and content t

[2019-06-11 23:07] 289abhi commented on #160
The origin is calculated as scheme+ domain+ port. If you have the JavaScript file hosted on the same origin then the Same Origin Policy will be applied which should allow the custom headers (e.g. "Authorization" header). If the file is on a different origin (could be a different port on same domain), then the "simple CORS" policy a.k.a. "simple request" is applied, which only allows standard heade

[2019-06-13 13:53] datavisiondt commented on #158
Hi,

I was following this Tutorial [(Exel Add-In Tutorial)](https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/excel-tutorial-create-custom-functions?tabs=excel-windows) and ran into the same issue posted here.

I also tried some functions samples on Script Labs, but when I try to register the sample functions I get the following error:

An unexpected error has occurred.
Error:
{
    "d

[2019-06-13 14:12] dzwillia commented on #158
Hi there, @keyur32!

We're running into the same issue.

We've got a couple of developers working on this as well. As we've been testing this functionality, for those of us that have developed the custom functions add-in and have sideloaded it into Excel, they show up in the formula autocomplete in Excel for Windows (Version 1907, Build 11807.20000), but for those that did not sideload the add-in

[2019-06-13 14:39] keyur32 commented on #158
Hey there!

Per our email thread, sharing this for others:

 I think this is because you are on the “Excel 2019 standalone” version. It needs to be office 365.

To build custom functions you can get a free Office 365 developer tenant by joining our developer program: https://aka.ms/o365devprogram

We will follow up to see if we can provide more clear error messages on the versions this is not supp

[2019-06-13 14:54] datavisiondt commented on #158
@keyur32  This is the version we get on MSDN Enterprise for development testing.  Is MSDN allowing us to use a subscription version of Office 365 for development/testing now?

[2019-06-16 21:34] jeffj commented on #158
@keyur32 Will this "office 365 requirement "be an Issue with this feature is in production?  I need my Add-in to support stand alone versions when this leaves the sandbox.

[2019-06-16 21:39] jeffj commented on #158
@keyur32 Additionally the best place to tell Developers out breaking issues related to new features is in the [Getting Started.](https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/excel-custom-functions-quickstart?tabs=excel-windows).

Might want to mention stand alone as a no no.

[2019-06-17 15:01] keyur32 commented on #158
@datavisiondt  - I believe the MSDN Enterprise (now I think called Visual Studio subscription) should give you access to Office 2019 AND Office 365.

![image](https://user-images.githubusercontent.com/3476087/59614588-ea02da00-90d5-11e9-9c78-00db44b39b9a.png)

@jeffj - Yes, currently this will only work on Office 365. It will not appear in the store dialog for non Office 365 versions of Excel.

Go

[2019-06-17 15:09] datavisiondt commented on #158
@keyur32.  Visual Studio Subscription does have an Office 365 and Office Stand Alone version, but only the 90 days or X days Dev Subscription you are pointing out in the screen shot works because it offers a E3 version.  The other versions available on VS Enterprise Subscription Download have the same limitation.  We have 3 options, but it is important to point out to developers that only the 0365

[2019-06-17 17:05] keyur32 commented on #158
Thanks! Good point, to clarify we work on all versions of "Office 365".

Custom Functions and new Excel AP requirement sets like 1.9 are not supported in Excel 2019. This will also be consistent with other features like Excel Dynamic Arrays which will only be available through Office 365.

I've logged this issue on our docs repro to track the documentation fix: https://github.com/OfficeDev/office-

[2019-06-18 04:04] keyur32 commented on #151
Closing this issue for now, but is tagged internally. We'll see if we can improve upon this case in the coming months. Thanks!

[2019-06-18 04:04] #151 closed

[2019-06-18 04:11] keyur32 commented on #159
Fixed in 16.0.11807.20000.  Closing, but please activate if anyone continues to hit this.

[2019-06-18 04:11] #159 closed

[2019-06-18 04:20] keyur32 commented on #140
appears fixed.

[2019-06-19 19:58] davidchesnut commented on #130
Just an update that we published info about the Storage object usage of browser localstorage on the Mac (around May 1). See https://docs.microsoft.com/office/dev/add-ins/excel/custom-functions-save-state. @keyur32 I'll remove myself from the assignee list on this issue. Thanks!

[2019-06-22 02:29] keyur32 commented on #140
closing as fixed. thanks all!

[2019-06-22 02:29] #140 closed

[2019-06-25 15:40] smozgur opened #168 "Building in Windows 7 - CA Certificate Installation Issue"
Building works without problems in Windows 10, however there is a certificate installation issue in Windows 7 Home Premium.

"The term Import-Certificate is not recognized as the name of a cmdlet..."
<img width="959" alt="image" src="https://user-images.githubusercontent.com/7944159/60110215-694a7a80-9774-11e9-9125-d034ebaf9779.png">

I do understand Import-Certificate is not a Windows 7 powershel

[2019-06-25 17:27] asachin96 commented on #168
Hi,

Can you please let me know what is your PowerShell version. You can use the following command
$PSVersionTable.PSVersion.Major

[2019-06-25 18:02] smozgur commented on #168
@asachin96, thanks for your reply.

Windows 7 - PS version is 2.
If we somehow update PS to 4, then cmdlet will be also available?

[2019-06-25 18:19] asachin96 commented on #168
Import-Certificate is available from PowerShell 3. Yes, upgrading PowerShell should solve this issue.
Here's a doc to upgrade PS https://docs.microsoft.com/en-us/powershell/scripting/install/installing-windows-powershell?view=powershell-6.
Let me know how it goes. I'm going to add PowerShell version 3 requirement to certificate package.

[2019-06-25 18:23] smozgur commented on #168
I actually didn't try to upgrade when I saw this earlier, and it made sense:
https://superuser.com/questions/1353868/powershell-is-missing-import-certificate

But I will try now. I'll let you know. Thank you.

[2019-06-25 18:49] smozgur commented on #168
I tried version 3, then 4. No luck.
Used Get-Module -ListAvailable .... to list available modules. There is no PKI with Import-Certificate in Windows 7 which actually shows up in Windows 10.

"Module tied to the OS version instead WMF" in the link above makes more sense now.

[2019-06-25 18:53] asachin96 commented on #168
I see. I'll check and get back to you.

[2019-06-26 05:29] keyur32 commented on #158
Marking this as closed with the note as this was addressed 9 dates ago.  thanks @mscharlock

Apolgoes, @datavisiondt  - didnt get back to your question directly - Yes, if you have a VS Enterprise Subscription, I'd recommend that as that subscription I believe will automatically renew, vs the Office 365 Developer tenant which auto-renews based on developer activity.

[2019-06-26 05:29] #158 closed

[2019-06-26 10:42] smozgur commented on #168
Ok, I have solved this by installing the CA certificate (%userprofile%/.office-addin-dev-certs/ca.crt) into the Trusted Root Certificate Authorities store.
It didn't work initially as I said in my initial question above, because I let it to install the certificate into the default cert store. I searched for the cert and it was not located in this store, so I installed it again by specifying the ce

[2019-06-27 15:05] akrantz commented on #168
I'm glad you were able to manually install the CA certificate.

@asachin96 is looking into a way to use an alternate Powershell script on Windows 7 to that it will work in the future.

[2019-06-27 15:07] akrantz commented on #168
This issue will be tracked here: https://github.com/OfficeDev/Office-Addin-Scripts/issues/151

[2019-06-27 15:07] #168 closed

[2019-07-02 16:01] kbrandl commented on #160
@andrewbridge I'm going to go ahead and close this issue, since a response has been provided. Please comment again here if you need further info and we'll reopen this issue. Thanks!

[2019-07-02 16:01] #160 closed

[2019-08-06 17:06] wamaina commented on #102
@keyur32, are there any updates on this bug?

[2019-08-06 22:10] keyur32 commented on #102
I'm going to close this issue as By Design. Ideally you should use streaming functions to cache new values on a periodic basis.  In this case, the function when reported was using the streaming function to display an intermittent value vs updating state. If the state changes, the function will recalculate and return a new value, so I don't think it will be common.

[2019-08-06 22:10] #102 closed

[2019-08-09 16:21] wamaina commented on #107
@mscharlock and @keyur32, is the work required in progress? Is this item still under investigation?

[2019-08-12 17:41] mscharlock commented on #107
Ah this should be closed, repeating params is out and docs are up. I'll go ahead and close.

[2019-08-12 17:41] #107 closed

[2019-08-12 18:03] akrantz commented on #107
@keyur32 Script Lab should now support repeating parameters. It would be good to validate.

[2019-08-13 15:52] macahrtur opened #175 "Use object EXCEL into custom function"
Hello,

I'm trying use the next code into a custom function but I have getted a error:

"Excel is not defined"

could please help me?

/**
 * Get data.
 * @customfunction
 * @param entity First entity
 * @param {number[][]} columns list of columns
 * @param {string[][]} codes list of columns
 * @param startdate First entity
 * @param enddate First entity
 * @param operation First entity
 * @return

[2019-08-13 16:38] akrantz commented on #175
You cannot use Office.js within a custom function. Make the custom function take a parameter, and pass the value when the function is called. For example, function add(first: number, second: number) { return first + second; }  is called with =ADD(1, 2).

[2019-08-14 01:51] jackarcher73 opened #176 "custom functions cannot retrieve data within Windows Office, but works fine on Mac Office"
*** NOTE: If you have an issue running your custom function, please log an issue in the official office-js repo here: [https://github.com/OfficeDev/office-js/issues](https://github.com/OfficeDev/office-js/issues) ***

In our custom function we want to retrieve data by POST method from our API. The code is as below. It works perfectly in Mac Excel, but never works in Windows Office 365. What I am m

[2019-08-14 10:01] topkoong opened #177 "How can an excel custom function return data in range or set values for a range of cells?"
I was trying to follow the sample code below but no luck. When I called the function below, I got only 1 for a single cell. Therefore, I was wondering if you guys can show me examples which can set values for a range of cells or set range by address.

Thank you!

[code]

[2019-08-14 13:27] akrantz commented on #177
Dynamic Arrays are a new feature. If the feature is not available, it will only show the value for the first cell.

This blog post metioned that it is available for Insiders: https://blog-insider.office.com/2019/06/13/dynamic-arrays-and-new-functions-in-excel/

This is subject to change as the feature is rolled out.

@keyur32 could you provide more information about availability?

[2019-08-14 13:59] topkoong commented on #177
@akrantz I have a few questions regarding this.

1. Can I set range by address or are there any alternative ways which I could return multiple values, multiple grids?

2. I know that task pane, content add-in, and commands run in a browser engine runtime, and the browser engine runtime supports the Office.js APIs, which allow me to manipulate Excel tables. However, any of the Excel APIs aren't dir

[2019-08-14 15:55] keyur32 commented on #177
For number 1, you could set an interval and do the write after Excel has returned on the onCalculated Event. It will require the taskpane to be visible currently.

2. This one is on the backlog, hope to have something in preview soon.

3/4 - are internal files needed for the runtime. thanks!

[2019-08-14 16:40] topkoong commented on #177
@keyur32 Thank you for the reply! Can you elaborate more or show sample code for the first question?

Thanks!

[2019-08-15 01:49] topkoong commented on #177
@keyur32  I found your Script lab gist given below, which is pretty similar to what you told me. However, it seems like I have to work with the taskpane to make it work.
https://gist.github.com/keyur32/ddebdb0e8ae2f6867f605a8309670dc3

[2019-08-15 02:28] topkoong opened #178 "Improving a Custom functions debugging documentation regarding sideloading an add-in when using Visual Studio"
I am writing in reference to the current documentation regarding Custon functions debugging documentation: https://docs.microsoft.com/th-th/office/dev/add-ins/excel/custom-functions-debugging.

I was trying to use the VS Code debugger for Excel in Chrome Devtools. I know that I have to use sideloading to install an Office Add-in for testing without having to first put it in an add-in catalog, but

[2019-08-15 23:53] lliu113 commented on #178
@topkoong thank you for the feedback!

Looping in @mscharlock who can help with updating the doc

[2019-08-15 23:57] lliu113 commented on #176
Hi @jackarcher73, thank you for the question! Looping in @keyur32 to provide more guidance

[2019-08-24 00:15] davidchesnut commented on #175
Hi @macahrtur it looks like @akrantz answered this issue. I'm going to close this issue, but please reopen if you have any additional questions. Thanks!

[2019-08-24 00:15] #175 closed

[2019-08-26 23:20] keyur32 commented on #177
Hi, yes your are right in you would need the taskpane to be visible in this case. We have a mode coming soon where this won’t have to be visible any longer.

[2019-08-27 02:53] topkoong commented on #177
@keyur32  Thank you for the reply. When will this thing and dynamic arrays be released to an online version of Microsoft Excel?

[2019-08-30 06:23] jackarcher73 commented on #176
Any progress?
I added some log entry:
8/29/2019 23:17:03	Verbose	Runtime	[Console] [Log] before new XMLHttpRequest
8/29/2019 23:17:03	Verbose	Runtime	[Console] [Log] before open
8/29/2019 23:17:03	Verbose	Runtime	[Console] [Log] xhttp.readyState=1
8/29/2019 23:17:03	Verbose	Runtime	[Console] [Log] before setRequestHeader
8/29/2019 23:17:03	Verbose	Runtime	[Console] [Log] before send
8/29/2019 23:1

[2019-09-03 17:18] lindalu-MSFT commented on #176
@keyur32 Have you had a chance to look at this one?

[2019-09-10 00:54] kkliebersbach commented on #130
@keyur32 Thanks for the updates on this issue! Just wondering what the current status is on the new "dispatch" model? We have some functionality ready to go with this feature :slightly_smiling_face:

[2019-09-10 03:17] keyur32 commented on #130
We are working on the documentation and release for insiders right now :)

[2019-09-17 16:12] keyur32 commented on #178
@davidchesnut  for now.  @davidchesnut  - can you transfer this to the our docs-pr repo please? thanks!

[2019-09-17 19:06] keyur32 commented on #176
Hi @jackarcher73 , super sorry for the delay. My notificatiosn went to junk somehow.

I think the issue you may be hitting is on Windows, there needs to a be a local host execption granted via fiddler so the Windows sandbox can post back to your process.

[2019-09-17 19:08] keyur32 commented on #176
Here is the guidence we have on that: https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-troubleshooting#cant-open-add-in-from-localhost-use-a-local-loopback-exception.    Please let us know if that doesn't work, closing for now. Thanks!

[2019-09-17 19:08] #176 closed

[2019-09-17 19:11] keyur32 commented on #118
This is now rolling out on Insiders, but requires some updates to the manifest. We'll revert back once documentation is ready.  For now stay tuned to our Office add-ins community call by signing up at: https://aka.ms/officeaddinscommunitycall.  We will announce when it is ready there.  Closing this for now! thanks!

[2019-09-17 20:42] pasdechancee commented on #177
Hi, i'm interested by this issue as well. I have a (maybe naive) question : would it be possible tout use CTRL SHIFT ENTER (CSE) formulas ? If so, what should the JavaScript fonction return ? Thanks !

[2019-09-19 00:52] keyur32 commented on #177
Hi @topkoong , still in preview but team is working on it.   @pasdechancee , yes you can.  You simply just return a 2d array, i.e.  return [[1,2],[3,4]]  would make a 2x2.  If it is not CSE entered, then Excel will show the top left item.

I'd recommend keeping up on our blog on https://developer.microsoft.com/office or in our monthly community call https://aka.ms/officeaddinscommunitycall.

Closi

[2019-09-19 00:52] #177 closed

[2019-09-19 00:52] keyur32 commented on #149
This is fixed, will share on a future community call :)

[2019-09-19 00:52] #149 closed

[2019-10-08 01:36] pwallner opened #188 "Unable to delete registry value"
Similar to this [issue](https://github.com/OfficeDev/Office-Addin-Scripts/issues/215) I receive with custom-functions

[code]

How to fix?

Regards
Patrick

[2019-10-17 11:39] 4tti commented on #149
@keyur32: is there some documentation how to use it? Thanks!

[2019-10-18 18:02] akrantz commented on #188
See here: https://github.com/OfficeDev/Office-Addin-Scripts/issues/215.

[2019-10-18 18:03] akrantz commented on #188
Here's the essential part:

[2019-10-18 18:03] #188 closed

[2019-10-28 16:55] ElizabethSamuel-MSFT commented on #130
@davidchesnut Any update on this? Thanks.

[2019-10-28 16:56] ElizabethSamuel-MSFT commented on #118
@keyur32 What's the current status? Thanks.

[2019-10-28 16:59] ElizabethSamuel-MSFT commented on #104
@keyur32 Any update on this? Thanks.

[2019-10-29 01:12] dbettin opened #189 "Question: Custom Function w/o a Namespace"
We are looking at porting over our current Excel add-in (Excel-DNA) to the JS model.  Is it possible to have a custom function without a namespace?  To be specific our current function is named `tagnifi` and we must keep this name for backward compatibility.

[2019-11-08 04:24] stevengreenberg opened #190 "Custom function @returns type not working"
I have a custom function that pulls a value from storage using its key as the parameter. I would like to be able to return both strings and numbers from this function, but all values appear to be returning as strings. The documentation mentions leaving the @returns blank, but it's not working as expected.

Below is what my functions.js file looks like – any help would be much appreciated.

[code]

[2019-11-08 15:11] #190 closed

[2019-11-08 15:13] stevengreenberg commented on #190
I realized that localStorage (which is what Storage is built on top of) only holds string values. The custom function was indeed configured to return all data types, but I simply needed to convert the values from a string before returning it.

[2019-11-09 02:27] mscharlock commented on #189
@RuoyingLiang do you mind checking into this? If I remember correctly from writing some of the custom functions documentation, a namespace is required but I would like @RuoyingLiang to confirm. Thanks for your patience on this issue!

[2019-11-14 04:43] dbettin commented on #189
If this is true, is this paradigm only intended for new add-ins (as opposed to ports)?

[2019-11-14 17:43] mscharlock commented on #189
Tagging @keyur32, would you mind giving some input? Thanks!

[2019-11-14 17:55] mscharlock commented on #189
Hi @dbettin - Just had a chat with @keyur32 and namespace is optional.
I'm going to close this issue for now, but comment on this thread if you need more assistance or have other questions and I am happy to reopen. Thanks!

[2019-11-14 18:00] dbettin commented on #189
Thanks! Could you please point to the documentation that describes how to add a function without namespace?

[2019-11-14 18:07] mscharlock commented on #189
This is actually an issue in our docs, as we have namespace listed in our reference docs as being required. I'm putting an item on our backlog to make sure this gets updated properly. However, to make one without a namespace, just eliminate the namespace in your add-in's manifest file. More docs on that namespace element here: https://docs.microsoft.com/en-us/office/dev/add-ins/reference/manifest/

[2019-11-14 20:29] akrantz commented on #189
I think the point is more nuanced than that. If there is a need for XLL compatibility, then you can have an empty namespace in the manifest and you can use the compatible name. But the recommendation is to use a namespace to avoid collisions, or if the manifest has an empty namespace, use a naming convention with a prefix such that it is equivalent to a namespace e.g. "namespace.function".   @keyu

[2019-12-03 20:58] andrewkittredge opened #191 "Format custom function cell"
Is it possible to format the cell from which a custom function was called?

I have the address via the `invocation` parameter I need access to the `workbook`, which I do not think I have in the custom function runtime.

Is there any easy way to do this?

[2019-12-06 07:51] topkoong commented on #177
@keyur32  When will this feature be available for installed Excel version? Looks like it is only available for Excel web version.

[2019-12-11 02:34] Silviu-Marian opened #222 "Custom Function Example Not Working with latest Office 16"
I am not able to sideload any Add-ins that feature custom functions.

Reproduction steps:

1. Run `yo office`
2. Select `Excel Custom Functions Add-in project`
3. Select `Typescript` or `Javascript`, enter a name, wait until packages install
4. Run `npm run start:desktop`

Here are the results:

![image](https://user-images.githubusercontent.com/1747499/70585318-8e209600-1bcc-11ea-8223-a65c8252453

[2019-12-11 16:35] keyur32 commented on #191
@andrewkittredge  -  This repro is about the code sample itself not about the feature, and is looked at on a slower cadence.  (Don't worry we'll transfer it over to the right repo).

For your answer, logging the same response as we made on the community call:
"we're working on a way to return formatted information but is on the backlog. Today, you can look at passing some context from the custom f

[2019-12-11 16:47] andrewkittredge commented on #191
An example of how to do this would be very helpful.  I hacked a message bus with the Shared Storage but I cannot find a place where I can listen on the bus and have access to the Excel object to modify the cells.

[2019-12-13 07:27] Silviu-Marian opened #192 "Custom Function Example Not Working with latest Office 16"
I am not able to sideload any Add-ins that feature custom functions.

Reproduction steps:

1. Run `yo office`
2. Select `Excel Custom Functions Add-in project`
3. Select `Typescript` or `Javascript`, enter a name, wait until packages install
4. Run `npm run start:desktop`

Here are the results:

![image](https://user-images.githubusercontent.com/1747499/70585318-8e209600-1bcc-11ea-8223-a65c8252453

[2019-12-13 15:46] ShellyShulei opened #193 "cannot run Excel Custom Functions"
I cannot run my custom functions in the desktop excel, even sample applications don't work too. But when I use online Office365, everything is okay. Why?

[2019-12-13 15:48] ShellyShulei commented on #193
* I use excel add-in scriptlab

[2019-12-19 02:36] Reezaali commented on #193
Hello @ShellyShulei. I'm sorry to hear that this isn't working as expected. Can you include the steps you took so that I can reproduce the error? Can you provide the following information on your environment please?

Platform [PC desktop, Mac, iOS, Office Online]:
Office version number:
Operating System:
Browser (if using Office Online):

Thank you.

[2019-12-19 04:07] ShellyShulei commented on #193
Platform [PC desktop, Mac, iOS, Office Online]: PC desktop
Office version number: My excel version is 1912(Build 12325.20172 Monthly Channel(targeted)
And it's a business account which has Microsoft Office365 ProPlus subscription

Operating System: Win10

Failure Logs:
Error:
{
"description": "The argument is invalid or missing or has an incorrect format.",
"message": "The argument is invalid or m

[2019-12-19 17:51] Reezaali commented on #193
Hi @ShellyShulei, thanks for the additional information. Can you also include the steps to repro the issue please? Thank you.

[2019-12-19 18:17] ShellyShulei commented on #193
It will show one or more add-ins failed to install custom functions.
I just use the Script Lab inside the excel and run the sample of custom functions, it shows the error.
You can see these functions I have created before, I can use them on 12/13/2019.
![unnamed](https://user-images.githubusercontent.com/42678283/71198441-cb86c280-2261-11ea-8e65-a90d788f9f0a.jpg)
![Capture](https://user-images.git

[2020-01-16 23:32] davidchesnut commented on #130
Hi @alaincao, following up on this thread, we have a preview feature that allows you to put the custom functions in the same context as the task pane, so they are both effectively using the same DOM. You can then share data or call functions as needed. For more information see [Tutorial: Share data and events between Excel custom functions and the task pane (preview)](https://docs.microsoft.com/of

[2020-01-24 17:50] lindalu-MSFT commented on #193
Hi @Reezaali @RuoyingLiang Is there any traction on this? I'm posting this comment to inquire so the bot doesn't mark it as "stale" now that it has been a month since this issue has had any activity. Please LMK if there's a resolution!

[2020-01-28 18:31] Nova38 commented on #193
I am also having an identical issue. The yo genorated code gives an error but scriptlab works.

[2020-01-28 21:04] lukchen opened #194 "Infrastracture question that I couldn't get anwser from Excel addin documentation"
Hello,

1.  According to this page: [https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/share-data-and-events-between-custom-functions-and-the-task-pane-tutorial](url)
first paragraph it says "Excel custom functions and the task pane share global data, and can make function calls into each other". How can taskPane js and custom function js call each other since they are not in same runt

[2020-01-29 00:37] mscharlock commented on #194
Hi @lukchen - Sharing data between the taskpane and custom functions has recently changed, as in this feature the taskpane and custom functions can share a runtime. This feature is in public preview and only available on Excel for Windows. Custom functions' runtime `storage` will still be available and not deprecated so if you have an existing add-in using the two runtime system, it will still wor

[2020-01-29 02:20] lukchen commented on #194
Thanks for the quick reply! @mscharlock
" I would advise you use this new model as described in the tutorial."
Are you refering to the purple Note area of this page: [https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/share-data-and-events-between-custom-functions-and-the-task-pane-tutorial](url)? I checked my Excel there is no Insider option...My organization using office 365

[2020-01-30 23:12] rocknet opened #195 "Custom Functions add-in without task pane opening?"
We don't really see a need for the task pane being open when using our functions, which primarily are getting data from another system.  Is it possible to configure the manifest such that the task pane doesn't open?

[2020-01-31 15:28] lukchen commented on #194
Hello @RuoyingLiang ,

Just want to check in if you are aware of the question.

Thank you!

[2020-01-31 21:44] mscharlock commented on #194
@lukchen Yes, the purple note area is what I'm referring to. It sounds like you may have to ask your Office 365 admin to get Office Insider so you can use this feature. There should be more details here: https://insider.office.com/en-us/business. But, that's definitely why this isn't working for you.

[2020-02-03 03:15] lukchen commented on #194
Since the latest design that add in UI javascript can call js custom function now. What will happen when there is a equivalent XLL custom function?

[2020-02-03 16:37] lukchen commented on #194
I cannnot even make XLL function over the js custom function after specifying the equivalent XLL in manifest
For example, I have a XLL function Reverse(input) that reverse a string and return it. In js cunstom function I have a same name function Reverse(input) which is a fake function returns something else:

![image](https://user-images.githubusercontent.com/26646767/73671586-3a38a780-4679-11ea-

[2020-02-03 18:50] mscharlock commented on #195
Yes! I believe if you are an Office Insider this behavior is already available via the latest January fork, but not yet documented. I am hoping to finish the docs on it this week. Hope that helps. I can update this issue when the docs are in place.

[2020-02-03 18:54] mscharlock commented on #193
Hi @Nova38 and @ShellyShulei - Have either of you tried clearing the WEF cache? Occasionally I run into a "fail to install Custom Functions" error like the one you are referencing and this usually clears it up for me (usually this is due to naming conflict). It will also get rid of custom functions you have created in the past.

[2020-02-03 18:57] mscharlock commented on #192
@Silviu-Marian - Thank you for giving us a thorough look at the steps you've taken. While this issue is still assigned to @RuoyingLiang, might I suggest in the meantime making sure that your yo office is up to date? To update, I usually just reinstall globally (npm install -g yo generator-office in the command line) but you can do this using npx as well.

[2020-02-03 19:21] Nova38 commented on #193
@mscharlock I have not tried clearing the WEF cache. I will do so when i get the chance and let you all know if that resolves the issue. However the error occurred on the first time it was run so I don't exactly see how it could be a naming conflict.

[2020-02-03 22:28] Silviu-Marian commented on #192
@mscharlock I've just done that, unfortunately the problem is still there.

[code]

![image](https://user-images.githubusercontent.com/1747499/73696496-13b05600-46e5-11ea-91b3-c1f729635587.png)

[2020-02-07 00:08] RuoyingLiang commented on #194
@lukchen the function name is used to match the XLL and JS custom function. In the above case, the XLL should be used in Win32. Could you share the manifest with us so we can investigate what's the problem?

[2020-02-07 00:36] lukchen commented on #194
Is the XLL--js custiom function compatibility only works in Win32? My machine is 64 bit Windows, also my Excel & XLL is 64 bit version.

I think my question is, is it possible to call XLL not from sheet but from addIn ui javascript? Since the Insider has preview feature that the addIn ui javascript can call the js custom function now.
So I'm wondering, if there is a XLL matching the js custom func

[2020-02-10 01:49] RuoyingLiang commented on #194
DIscussed in mail thread. the add-in's XLL compat works now.
For the 3rd question, XLL cannot be called from JS add-in UI.

[2020-02-10 01:49] #194 closed

[2020-02-12 19:44] mscharlock commented on #192
Darn. Something that trips me up frequently is not building the solution - but I assume you have tried that step as well? We just added this to the instructions list that comes up in yo office after you create a project. Let me know if that helps.

[2020-02-12 19:49] mscharlock commented on #193
That does make sense, definitely not a naming thing then. I will go ahead and tag @nokafor - do you happen to know who the PM for Script Lab is at the moment? There is an error for @Nova38. Thanks!

[2020-02-13 00:24] Silviu-Marian commented on #192
Looks like we're back in business! Thanks a lot for all the help.

![image](https://user-images.githubusercontent.com/1747499/74389748-e2800600-4e07-11ea-966a-79941c76f2fa.png)

[2020-02-13 00:24] #192 closed

[2020-02-13 18:28] mscharlock commented on #195
So we are currently updating this feature but the timeline has changed and anticipate that everything should be up and running by beginning of March. If there is an update sooner than that, I will let you know! :)

[2020-02-26 22:45] rocknet commented on #175
@davidchesnut Just to clarify this, is there no possible way to pass a cell reference as a parameter to a custom function and operate on the value of the cell?  For instance, if A1 contains -1, you can use =ABS(A1) to get the value 1, is this not possible currently with custom functions?  If it's not, is it on the roadmap?  This is pretty key for some of our use cases.

[2020-03-14 22:03] shyambhiogade commented on #193
we are still getting this eror, is there any action done for this issue

[2020-03-15 16:39] TCourtneyOwen commented on #193
@shyambhiogade Sorry to hear you are having problems. Can you please try the following:

- Go to %:\Users\<user_name>\AppData\Local\Microsoft\Office\16.0\Wef
- Delete all the content in the WEF folder
- Return to your custom functions folder and run "npm run build" and "npm start" again.

Hopefully this helps.  Please keep us posted.

Thanks,

Courtney

[2020-03-21 17:28] keyur32 commented on #195
Hi @rocknet

We announced the preview of a shared runtime a week ago and this may be of use for you: https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-shared-overview.

This will allow you greater flexibility when creating custom functions, as it unblocks full CORS, calling libraries and much more. Optionally, if you wanted not to use a shared runtime, you can do that as w

[2020-03-24 10:53] Murugananths opened #198 "OfficeJS: How to show Custom Error Messages in Excel add-in instead of "#BUSY""
Hi Team,

Kindly help on below scenario:
Existing system : In Excel add-in when using Custom functions the API response values binded with message showing as "#BUSY" in excel cells.

Proposed system:  As per requirement , have to customize the message to show "Calculating" in excel cells when invoking custom functions.

[2020-03-26 05:31] georgek01 commented on #193
Has this issue been resolved? Any custom function I run after creating the add-in using yo office, results in #BUSY! Launching the add-in from VS Code also results in an error being displayed in the Task pane.

<img width="290" alt="O365-Excel-Error" src="https://user-images.githubusercontent.com/19200702/77613595-f33ba400-6f8f-11ea-9098-0e25a1d972d0.PNG">

[2020-03-26 05:53] shyambhiogade commented on #198
I am also facing the same problem, @TCourtneyOwen @RuoyingLiang @georgek01 @Reezaali can you please help on this.

[2020-03-26 07:26] csreddyennam commented on #198
I too face similar issue, please help us

[2020-03-26 15:02] TCourtneyOwen commented on #193
@georgek01 The fact that the taskpane doesn't work either makes it seem like the dev-server didn't start.  Can you please try the following:

- Close Excel and stop the dev-server if it is in fact running
- From your project root, run "npm run build"
- Run "npm start"

At the very least the taskpane should work using the above steps, and I am hopeful this fixes the issue with custom functions as w

[2020-03-26 15:03] TCourtneyOwen commented on #193
One other thing to try, can you please run "npx office-addin-dev-certs install" to ensure dev server certificates are installed

[2020-03-26 23:18] georgek01 commented on #193
@TCourtneyOwen I followed the steps you suggested with no success.

<img width="306" alt="O365-Excel-Error-2" src="https://user-images.githubusercontent.com/19200702/77704776-b8368080-7022-11ea-973c-f37db790dbe6.PNG">

In the status bar I have the following message:

<img width="369" alt="O365-Excel-Error-3" src="https://user-images.githubusercontent.com/19200702/77704940-3004ab00-7023-11ea-9c49-f

[2020-03-26 23:44] TCourtneyOwen commented on #193
@georgek01 Just to clarify, have you had any luck with this add-in in the past, or has it been a problem from the moment you created it?

One other thing worth trying as noted above:

Go to %:\Users<user_name>\AppData\Local\Microsoft\Office\16.0\Wef
Delete all the content in the WEF folder
Return to your custom functions folder and run "npm run build" and "npm start" again

[2020-03-26 23:50] georgek01 commented on #193
@TCourtneyOwen  This is the first add-in I'm creating.

I do not have a Wef folder at that location, so I clear it from the following registry key:

`HKEY_CURRENT_USER\Software\Microsoft\Office\16.0\Wef\Developer`

<img width="647" alt="reg-1" src="https://user-images.githubusercontent.com/19200702/77707258-7ceb8000-7029-11ea-8517-b0a238fb2704.PNG">

[2020-03-26 23:56] TCourtneyOwen commented on #193
Also did you choose to create a Typescript of Javascript project? I'd like to see if I can repro the problem locally

[2020-03-26 23:57] georgek01 commented on #193
@TCourtneyOwen I found the folder and cleared it, but still experience the same issue after a build and run.

Path on my machine:
`C:\Users\georg\AppData\Local\Packages\Microsoft.Office.Desktop_8wekyb3d8bbwe\LocalCache\Local\Microsoft\Office\16.0`

[2020-03-26 23:57] georgek01 commented on #193
I chose JavaScript.

[2020-03-26 23:59] TCourtneyOwen commented on #193
Are you able to browse to https://localhost:3000/taskpane.html after start the dev-server without getting any SSL cert warnings? If not, then this might be the problem that the dev-certs are not getting installed properly

[2020-03-27 00:04] georgek01 commented on #193
No cert warnings.

<img width="808" alt="0365-task-panel-1" src="https://user-images.githubusercontent.com/19200702/77707902-6d6d3680-702b-11ea-9804-c544b27eedb4.PNG">

[2020-03-27 00:07] TCourtneyOwen commented on #193
Interesting, your's looks different than mine:
![image](https://user-images.githubusercontent.com/38081557/77708071-44de3180-6f84-11ea-82d7-9bf549caa46a.png)

[2020-03-27 00:08] georgek01 commented on #193
Oh yes, I edited the HTML and removed the logo.

[2020-03-27 00:10] georgek01 commented on #193
I can start a new add-in and not change anything if you like?

[2020-03-27 00:10] TCourtneyOwen commented on #193
@georgek01 I know this might be a pain, but would you be willing to create another project with yo office (e.g. the Office Addin Taskpane project) and see if that works? That might help us understand if the issue you are seeing (which I can't repro) is isolated to the custom functions project

[2020-03-27 00:11] georgek01 commented on #193
Certainly! Will let you know shortly...

[2020-03-27 00:16] georgek01 commented on #193
Received the following error I haven't seen before:

<img width="812" alt="yo-1" src="https://user-images.githubusercontent.com/19200702/77708460-0b153580-702d-11ea-8a05-2343d40fc202.PNG">

Going to try again...

[2020-03-27 00:19] TCourtneyOwen commented on #193
Ugh.. I wonder if that's related to network issues. Things have been a bit dicey over the past couple weeks it seems for obvious reasons

[2020-03-27 00:27] georgek01 commented on #193
That all worked just fine

<img width="441" alt="yo-7" src="https://user-images.githubusercontent.com/19200702/77709025-a22ebd00-702e-11ea-8e68-da1250c4487d.PNG">

[2020-03-27 00:34] TCourtneyOwen commented on #193
Looping  a couple other folks: @akrantz @keyur32 Is there any particular Office build version that customers need to be running for Custom Functions to work? @georgek01  is running Office **Version : 18.2002.1101.0 (Office 365 Home Edition)** and he can't get Custom Functions to work using our Javascript template. He was however able to get the Office Addin Taskpane template working

[2020-03-27 00:44] georgek01 commented on #193
I created another add-in for custom functions, cleared the wef folder and reg keys. Build succeeded and run started Excel as expected.

The same error then appears
<img width="439" alt="o365-yo-4" src="https://user-images.githubusercontent.com/19200702/77709709-d1462e00-7030-11ea-9289-aadfa58f1f07.PNG">

When I click the Show Taskpane button in the ribbon, the add-in displays, but none of the cust

[2020-03-27 00:49] georgek01 commented on #193
Excel does now say the add-ins were loaded successfully where previously it didn't

<img width="282" alt="o365-yo-6" src="https://user-images.githubusercontent.com/19200702/77710018-c5a73700-7031-11ea-849f-4811ab3af308.PNG">

[2020-03-27 00:51] TCourtneyOwen commented on #193
But custom functions still don't work? Have you tried =contoso.add(1,2) for example?

[2020-03-27 00:54] georgek01 commented on #193
Correct, they do not work. I tried =contoso.add(1,2) and the cell displays #Busy! The task pane code does work however.

[2020-03-27 01:03] georgek01 commented on #193
All the CONTOSO functions are available so the runtime was able to get the list from the manifest/code

<img width="389" alt="o365-yo-8" src="https://user-images.githubusercontent.com/19200702/77710708-a3161d80-7033-11ea-902e-da8fb056b115.PNG">

[2020-03-27 01:33] georgek01 commented on #193
As mentioned earlier, it seems to be an identical issue as #159

[2020-03-27 01:41] TCourtneyOwen commented on #193
@georgek01 I have started a thread internally with a few folks who worked on the custom functions feature. They may chime in on this thread - either way I will get back to you tomorrow. Thanks for your patience,

-Courtney

[2020-03-27 01:43] georgek01 commented on #193
@TCourtneyOwen Thank you for your assistance

[2020-03-27 03:18] shyambhiogade commented on #193
just to let you know that I am also facing the exactly same problem, my custom function was working some days back attached demo app and excel version detail
![image](https://user-images.githubusercontent.com/10468130/77717953-e2def580-6f9e-11ea-87a1-67ad75ce76f0.png)

[demo custom function.zip](https://github.com/OfficeDev/Excel-Custom-Functions/files/4391286/demo.custom.function.zip)

[2020-03-27 13:39] Murugananths commented on #198
Hi Team any update  please....

[2020-03-27 16:18] TCourtneyOwen commented on #193
@georgek01 @shyambhiogade Can you please try the following:

Open Excel (don't worry about running "npm start" - just boot Excel)
Go to Insert --> Get Addins in the ribbon
In the Addin Store, search for WA104381692 and click Add to insert the addin

This will give you additional custom functions.  Try entering a custom function such as the following:
=CFSample.GET_DAY()

Is this doesn't work, then

[2020-03-27 16:40] shyambhiogade commented on #193
it worked fine. i have given you my test application can you please check, its just the standard sample application.

[2020-03-27 16:46] TCourtneyOwen commented on #193
@shyambhiogade I don't see any link to your test application?

[2020-03-27 16:48] shyambhiogade commented on #193
@TCourtneyOwen  please give me your app please, https://github.com/OfficeDev/Excel-Custom-Functions/files/4391286/demo.custom.function.zip this is the link, also looks like I missed polyfill js to include in HTML , even after that it's not working.

[2020-03-27 18:00] TCourtneyOwen commented on #193
@shyambhiogade I am indeed hitting the same error when using your project. I don't hit any errors however when creating a new custom functions project with yo office.  I am looking into what's different in your project (e.g. I see you are using gulp, but I doubt that's the issue)

[2020-03-27 18:12] shyambhiogade commented on #193
@TCourtneyOwen let me know you need any other question from me

[2020-03-27 18:31] TCourtneyOwen commented on #193
@ShellyShulei two things jumped out at me.  In functions.html, you have the following:
<script src="https://localhost:5555/ExcelAddin/functions.js" type="text/javascript"></script>. I commented this out.  I then noticed that functions.ts has been customized. If I replace the content of functions.ts with the default content generated by yo office, run "npm run build" and 'npm start" everything work

[2020-03-27 19:19] dabbara-geetha commented on #193
I'm also facing the same issue as @ShellyShulei .  I tried sample applications from github/officeDev none of them are working in desktop excel.
Details:
platform - Laptop
Office Excel version - 2016 MSO (16.0.4266.1001)
Browser - Chrome (Working in excel online)

@TCourtneyOwen  - As per your comment, I inserted  WA104381692  add-in from the store, When I tried =CFSample.GET_DAY(), I'm getting #NA

[2020-03-27 19:40] shyambhiogade commented on #193
geetha, i think you are not matching the minimum version required for the custom function to work

[2020-03-27 20:09] shyambhiogade commented on #193
@TCourtneyOwen i took a fresh copy and ran using dev server and it worked, we also have our own server in IIS and in aspnet.core, what is what I was trying. thanks for your help, its good now. i am not able to debug though

[2020-03-27 20:09] dabbara-geetha commented on #193
@shyambhiogade  - I have added below requirement set in manifest.xml
 <Requirements>
    <Sets DefaultMinVersion="1.1">
      <Set Name="CustomFunctionsRuntime" MinVersion="1.1"/>
    </Sets>
  </Requirements>

[2020-03-27 20:14] dabbara-geetha commented on #193
@TCourtneyOwen - I'm getting below error while using CFSAMPLE.

![image](https://user-images.githubusercontent.com/62707899/77796608-027d2900-7046-11ea-848a-e296a51d06f0.png)

any suggestions on this?

[2020-03-27 20:33] shyambhiogade commented on #193
is excel version good to run a custom function

[2020-03-27 20:36] dabbara-geetha commented on #193
I'm going through the issue - https://github.com/OfficeDev/Excel-Custom-Functions/issues/158

I have MS office 2016. Does custom function work only with MS office 365?
![image](https://user-images.githubusercontent.com/62707899/77798282-f47cd780-7048-11ea-9d44-6983c11755a7.png)

[2020-03-27 20:40] georgek01 commented on #193
@TCourtneyOwen  I ran **=CFSample.GET_DAY()** from **WA104381692**. It took a while but finally returned **Saturday**

[2020-03-27 20:45] dabbara-geetha commented on #193
@georgek01 - Could you share your MS Excel product information?
 I'm using MS office standard 2016,  =CFSample.GET_DAY() is not working for me.
Thanks in advance.

[2020-03-27 20:46] georgek01 commented on #193
My setup is:

Office Version : 18.2002.1101.0 (Office 365 Home Edition)
OS Version: 1909 (Build 18363.720)
Node Version: 10.14.2

[2020-03-27 20:49] dabbara-geetha commented on #193
It seems to be custom functions works only with Office 365 but not for Office standard desktop app.

[2020-03-27 20:51] shyambhiogade commented on #193
geetha, please click on about excel and print that screen here, its supported on excel desktop just that you need to have right build.

[2020-03-27 20:57] dabbara-geetha commented on #193
![image](https://user-images.githubusercontent.com/62707899/77799834-fdbb7380-704b-11ea-87fb-601a41e3cc06.png)

[2020-03-27 21:00] shyambhiogade commented on #193
you need to update your excel, the following is the supported build
![image](https://user-images.githubusercontent.com/10468130/77800049-4fa3cf80-7033-11ea-947f-0d54805c93c0.png)

[2020-03-27 21:01] georgek01 commented on #193
@TCourtneyOwen I clicked the **Show CFSample Taskpane** button again and tried the RAND function. Now it does not work :(

<img width="780" alt="ms-sample-1" src="https://user-images.githubusercontent.com/19200702/77800147-0c9d3700-70db-11ea-8316-bfeaf5326f68.PNG">

[2020-03-27 21:02] georgek01 commented on #193
Oh wait, it needs a parameter!

[2020-03-27 21:02] georgek01 commented on #193
It does work :)

[2020-03-27 21:13] dabbara-geetha commented on #193
@shyambhiogade  - I see it is mentioned as **_connected to office 365 subscription_**. Mine is a standalone desktop version. MS office standard 2016.

[2020-03-28 00:59] weshi commented on #193
@georgek01 Just to confirm, is your own add-in working now, or it still have issues?

[2020-03-28 01:04] georgek01 commented on #193
@weshi My own add-in does not work. The one I installed (WA104381692) does work however.

[2020-03-28 01:05] georgek01 commented on #193
Have you guys made changes? Should I try and create an add-in again?

[2020-03-28 02:15] weshi commented on #193
@georgek01 as far as I know, no change have been made recently. Can I try your add-in? Do you have your manifest shared somewhere? Or, is your add-in shared on GitHub or somewhere?

[2020-03-28 02:25] georgek01 commented on #193
@weshi It's the add-in generated from running yo office and selecting **custom function** and **JavaScript**. I have not made any changes when I experience the issue.

[test3-add-in.zip](https://github.com/OfficeDev/Excel-Custom-Functions/files/4396529/test3-add-in.zip)

[manifest.txt](https://github.com/OfficeDev/Excel-Custom-Functions/files/4396523/manifest.txt)

[2020-03-28 03:50] weshi commented on #193
Thanks @georgek01

I checked your files, they are all the default files from the project template. I also tried to create a new project with YO, and it works correctly on my side. It's hard to know what is the root cause that your own addin does not work, while the one from the store works.

I suspect that there might be something related to out-of-date cache. if you like, could check below:

1) C

[2020-03-29 00:27] georgek01 commented on #193
@weshi Here is the steps I completed:

- Cleared the wef folder. On my machine it is located at
`C:\Users\georg\AppData\Local\Packages\Microsoft.Office.Desktop_8wekyb3d8bbwe\LocalCache\Local\Microsoft\Office\16.0\Wef`

![image](https://user-images.githubusercontent.com/19200702/77836595-76d9d880-71bc-11ea-9814-5187c2b0f24a.png)

- Cleared the **Wef\Developer** registry path but left the **Develope

[2020-03-29 00:30] georgek01 commented on #193
From the runtime logging file:

`29/03/2020 13:20:15	Verbose	CustomFunctions	[Metadata] [Parsing] [Begin]
29/03/2020 13:20:15	Verbose	CustomFunctions	[Metadata] [Parsing] [Begin] Function
29/03/2020 13:20:15	Medium	CustomFunctions	[Metadata] [Parsing] [End] [Success] Function=CONTOSO.ADD
29/03/2020 13:20:15	Verbose	CustomFunctions	[Metadata] [Parsing] [Begin] Function
29/03/2020 13:20:15	Medium	Cu

[2020-03-29 00:34] georgek01 commented on #193
I'm also able to debug the taskpane JS code

![image](https://user-images.githubusercontent.com/19200702/77837138-0afa6e80-71c2-11ea-846d-c94009e2ce2d.png)

[2020-03-29 00:46] georgek01 commented on #193
Using **Script Lab** I'm able to create the functions I require from an add-in.

![image](https://user-images.githubusercontent.com/19200702/77837252-87da1800-71c3-11ea-8d13-e0ca19925e6c.png)

[2020-03-29 21:38] shyambhiogade commented on #193
@TCourtneyOwen hi again, i have my web server developed in asp.net core, when i keep this addin files under that server and try to access the web api, i dont get the expected result, but if i write same function on a button actoin in html and try to load in browser i get proper result, do you know if i need to do anything specific.

[2020-03-29 21:55] georgek01 commented on #193
@shyambhiogade Is it not a CORS issue? I had a similar problem and had to allow any/specific domain to access my API.

[2020-03-29 21:57] georgek01 commented on #193
@shyambhiogade I also found **localhost** to be problematic (I received a network error) hence I created an Azure hosted API for testing.

[2020-03-29 22:12] shyambhiogade commented on #193
@georgek01 i dont think this is cors issue, as when i try to access same api from sample application which runs on https://localhsot:3000, it works fine, but only when i copy all files in dist folder to my local server, it does not work, other function in sample application such as add works fine so there is no problem with respect to local custom function, issue comes only when i try make a web a

[2020-03-29 22:27] georgek01 commented on #193
@shyambhiogade To get custom functions to work, did you just update your version of Excel?

[2020-03-29 22:29] shyambhiogade commented on #193
no it was working, problem is just with XMLHttpRequest request to my server

[2020-03-29 22:32] georgek01 commented on #193
Is your server end-point HTTPS? Runing the server from Node ensures the required cert is installed. You may need to install a cert on your dev server too.

[2020-03-29 23:38] TCourtneyOwen commented on #193
Exactly what I was going to point out. It needs to be https with valid certs installed.

[2020-03-29 23:47] shyambhiogade commented on #193
my server end-point is http not https, are you saying to be able to use custom function-it should be https, our application is intranet application and there is complication in providing the cert on customer machine. also it would be nice if there was any demo on how to debug, i have that custom function sample, and when i run it from vscode to debug, debugging just does not work even with simple

[2020-03-30 01:33] weshi commented on #193
@georgek01 Thanks for the detail information. I'm curious why there are two test3 add-in loaded. Do you have two add-ins with the same name and id?

If possible, we can have a Microsoft Teams meeting so that we can look at together. Please let me know what time is good to you. I'm located in Beijing (UTC+08 timezone). Thanks.

[2020-03-30 01:36] georgek01 commented on #193
@weshi That is the add-in that starts when I start debugging - npm start. So it's the add-in that I'm running at the time. To then run the Taskpane code, I click the button in the ribbon that was also created when I started debugging. So no, I do not have two installed.

[2020-03-30 01:41] georgek01 commented on #193
I'm available anytime today after 11:00am your time. I'm UTC+12 (so we close)

![image](https://user-images.githubusercontent.com/19200702/77867573-4ebda880-7294-11ea-92a5-30aeb398db6c.png)

[2020-03-30 02:23] weshi commented on #193
@georgek01 I have send out the meeting request. Let's discuss more at the meeitng.

@ShellyShulei could you try to add http://localhost:32569 to your AppDomain and retry again?

<AppDomains>
    <AppDomain>contoso.com</AppDomain>
    <AppDomain>http://localhost:32569</AppDomain>
  </AppDomains>

[2020-03-30 03:54] georgek01 commented on #193
My issue has been resolved!

When I initially installed Office it was through the Store. This time I installed Office from my account (https://account.microsoft.com/services/office/install) and now custom functions work.

Not sure why the behavior is different as both versions have the same build.

@weshi, thank you to you and your team for your assistance.

![image](https://user-images.githubuser

[2020-03-30 04:36] shyambhiogade commented on #193
@weshi i have added localhost in app domain, can we have a call on team, skype, zoom let me know.

[2020-03-30 07:36] weshi commented on #193
@shyambhiogade I didn't find your email in your profile. Please let me know and I can send out a Teams meeting schedule. Thanks.

[2020-03-30 15:08] shyambhiogade commented on #193
shyam.bhiogade@gmail.com is my email id.

[2020-03-30 20:30] noon-otter opened #199 "Reported invocation cell doesn't match the actual invocation cell when the function is copied."
My custom array function built in typescript works 99.9% of the time. About 0.1% of the time, the cell that's actually invoked does not match the cell it's referencing. Looking at the `invocation.address` parameter, I've learned that excel is actually invoking a cell other than what it visually says it should be. This only happens when I drag the formula to copy relative formulas. Is this a known

[2020-03-30 23:31] weshi commented on #193
Thanks @shyambhiogade
I have sent out the meeting invitation.

[2020-03-30 23:34] shyambhiogade commented on #193
thanks received it and accepted

[2020-03-31 15:48] dabbara-geetha commented on #193
Hi,

I've hosted my custom excel add-in to azure website, added web.config as well and updated website url in the manifest.  After uploading this manifest to excel online, custom functions are not working but taskpane is showing.
Is there any problem with azure hosting? please suggest.
Below is the web.config
<?xml version="1.0"?>
<configuration>
    <system.webServer>
        <staticContent>

[2020-03-31 19:23] dabbara-geetha opened #200 "Custom functions not working for Azure hosted Office Excel add-in"
Hi,

I've created an excel add-in custom function using Yo generator.

I've hosted the custom functions excel add-in dist folder to the Azure app service, added web.config as well and updated website URL in the manifest(XML) file.  I am able to access all the hosted files from the website link.
After uploading the manifest to excel online, custom functions are not working but task pane is showing.

[2020-03-31 22:36] ElizabethSamuel-MSFT commented on #199
@noon-otter Sorry to hear that you're hitting an issue.

@RuoyingLiang Can you take a look?

Thanks.

[2020-03-31 22:37] ElizabethSamuel-MSFT commented on #200
@dabbara-geetha Sorry to hear you're facing an issue and thanks for letting us know.

@RuoyingLiang Can you take a look?

Thanks.

[2020-04-01 03:53] weshi commented on #193
@shyambhiogade  I've sent an email to you with the solution to the issue you have seen. Basically if you are not using the YO office generator and npm start to sideload/debug your add-in hosted on localhost host, you have to make sure you create the similar registry entry for your add-in, and set the UseDirectDebugger key item set to 1.
![image](https://user-images.githubusercontent.com/11494417/7

[2020-04-01 03:58] weshi commented on #193
@dabbara-geetha Could you please share more information about your environment? What is the error/value you see returned from the custom function formula? Have you added your domain on azure website to your manifest? Share some log would also be helpful.
If needed, I can have a Microsoft Teams meeting to discuss with you.

[2020-04-01 12:54] dabbara-geetha commented on #193
@weshi - Thank you for the response
Environment details - Windows 10 OS, laptop, Office 365 Excel online.
I've added the Azure website in the manifest file. The issue is I don't see my custom functions in the functions tab when I type =[myFunctionName]
![image](https://user-images.githubusercontent.com/62707899/78139269-38c7f900-73f6-11ea-8e53-04805b9e3aa2.png)
I will configure Azure app service l

[2020-04-02 01:02] weshi commented on #200
@dabbara-geetha could you check if your web server on the azure websites enabled CORS support? From your description in #193, it seems that your custom functions failed to register, that's why no function intelligence are shown when you try to enter the formula. You should have seen an error message in the Excel status bar saying that there are errors to install the functions.

[2020-04-02 03:24] RuoyingLiang commented on #193
The issue in this thread has been resolved. So close this thread.

[2020-04-02 03:24] #193 closed

[2020-04-02 15:09] dabbara-geetha commented on #200
@weshi - I've enabled CORS and now I see the custom functions are working in Excel online.
Thank you for the quick response.

[2020-04-06 02:03] csreddyennam opened #201 "Issue is with icons in Ribbon bar"
we are running task panel in Excel desktop version, Issue is with icons we have different icons but it doesn't shows in ribbon bar this is issue with Destop Excel version.

Then Url which we provided in manifest file (URL under resource) works fine when we run in browser but it doesn't work when it runs in task pane.

[2020-04-06 14:11] dabbara-geetha commented on #200
Excel custom add-in is working fine with Azure & IIS hosting by following below steps
make sure to host the website with HTTPS
enabling CORS & Adding web.config
Make sure the function.js has the hosted website path if fetching any JSON files from dist folder

[2020-04-06 14:11] #200 closed

[2020-04-06 16:12] Rick-Kirkham commented on #201
Please see if this article solves your issue: [changes-to-add-in-commands-including-ribbon-buttons-and-menu-items-do-not-take-effect](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/testing-and-troubleshooting#changes-to-add-in-commands-including-ribbon-buttons-and-menu-items-do-not-take-effect). If it doesn't please post the question on Stack Overflow and be sure to tag it "office-js"

[2020-04-06 16:12] #201 closed

[2020-04-07 03:47] ByEqualation commented on #104
Is this item closed?

This is really a tough thing to work around.  My thought is that it has something to do with using Yo Office as I had not experienced this problem when working sans scaffold.

![image](https://user-images.githubusercontent.com/63208879/78627417-fd468800-7856-11ea-8193-0b4a01f6804e.png)

I am currently getting the above message
Message header "Error installing functions".

Why

[2020-04-07 04:07] keyur32 commented on #104
Hey @ByEqualation,  we're actually planning to address this. It needs some investigation on options forward. While we could go back to VBA behavior, it would lead to the inconistent code being run (i.e. your custom function may return a value from a previously registered function, which also may not be great).

As a workaround, can you try to clear your cache: https://docs.microsoft.com/en-us/offi

[2020-04-07 15:10] ByEqualation commented on #104
FYI;  the workaround also failed.  It appears  Microsoft Edge DevTools Preview is more 'preview than tool'.  After 13 months, MSFT is still investigating their options...  Great!

[2020-04-07 16:09] keyur32 commented on #104
@akrantz  - thanks that was my understanding, but it sounds like according to above clearing the cache did not work either?

@ByEqualation  - If clearing the cache/WEF folder did not work for you, can you share the runtime log? What functions names are you trying to run?  I'm also not sure what you meant by dev tools preview.

[2020-04-07 16:11] keyur32 commented on #189
@akrantz, XLL Compatability mode doesn't use the namespace attribution (as this capability didn't existi).  I believe the documentation issue is also fixed, so closing.

[2020-04-07 16:11] #189 closed

[2020-04-07 19:37] ByEqualation commented on #104
So I went to...
C:\Users\*****\AppData\Local\Microsoft\Office\16.0\Wef

and deleted the contents of this directory.  Then I Reboot 'for good measure' then I restart Excel and the add-in is pulled from somewhere else??? and the WEF directory is reconstituted with the same Add-in.  Where do I look for this alternate source of the same Add-in/

The good news is I have successfully cleared out the fun

[2020-04-09 16:37] Murugananths commented on #198
Not sure why no response even so many uservoice....

[2020-04-10 03:07] RuoyingLiang commented on #198
Sorry for the late response. @Murugananths do you mean you want to show"calculating" instead of "#Busy" during custom function execution? As many custom function didn't really calculate but executing service call or others, "busy" is more accurate for most case. Could you share more context with us why this is an issue in your scenario? That will greatly help us triage. Thanks.

[2020-04-10 06:54] Murugananths commented on #198
Thanks for the response Ruoying. Below are the context we require.

1) This is as per customers requirement,,
2) Already other Excel application implemented with same,
3) Also since these are involved with calculations hence finding meaningful name...

[2020-04-10 07:51] RuoyingLiang commented on #198
Let me confirm to make sure if I understand correct:  you mean your add-in's customers asking for not showing "#Busy"?
And could you let me know what's the other Excel application you refereed?

[2020-04-10 08:14] Murugananths commented on #198
I mean already other application which was developed in .net using ExcelDNA showing message as "#Calculating" when invoking custom functions. Hence same we are trying to  implement.

[2020-04-10 15:00] RuoyingLiang commented on #198
Got it. Thanks for the explanation. I will definitely add this request to out backlog. But currently custom function doesn't support customize the message during execution. Sorry for the inconvenient. One more question: is "#busy" make confusing in your add-in so you want to show "#calculating" or you need to show "#calculating" to keep consistent with previous experience?

[2020-04-10 15:05] akrantz commented on #198
Would it be better for the `#Calculating` string to also be changed to `#Busy` so they match? It sounds like the consistency between the two is more important than being able to customize the string.

[2020-04-10 15:19] Murugananths commented on #198
@RuoyingLiang ...For below reasons.
1) "#calculating" to keep consistent with previous experience
2) It will make confusing for the customers who had already experienced...

[2020-04-13 15:59] noon-otter commented on #199
@ElizabethSamuel-MSFT @RuoyingLiang Any progress? This is a major issue for us as it makes the custom functions less trustworthy.

In the interim, I've solved the issue in my code. The invocation object seems to change values after a few moments. My UDF is using a fetch call, so I send the invocated address along with the fetch request, return it back from the server, and compare the initial invoc

[2020-04-13 16:31] Murugananths commented on #198
Any tentative release dates as most user requesting the same features....

[2020-04-14 02:58] RuoyingLiang commented on #199
@noon-otter , thanks for raising the issue. As we cannot repro the issue in our env, could you share more details of repro steps?
1. Which environment are you using? (Excel desktop, Online or Mac？）It will be great if we can know the build number.
2. Do you mean when you drag the formula to copy, the copied formula's invocation.address sometimes is not correct?
3. Currently your workaround is fetch

[2020-04-22 16:40] mmcelligott1 opened #203 "Excel charts not properly updating after evaluating custom functions"
Very straightforward to replicate, attaching a video that captures it best:

[Chart Issue.zip](https://github.com/OfficeDev/Excel-Custom-Functions/files/4517508/Chart.Issue.zip)

- Chart some data that relies upon custom function(s)

- Re-evaluate the custom function

- The chart is not updated properly, it seems to always be one step behind for this example

[2020-04-22 18:18] vapglobal commented on #203
**A similar/relevant and very destabilizing bug exists in the following scenario when using custom functions outputs for charts and also shapes with text referencing cell values:**

**STEPS TO RECREATE**
1. Create data set with a custom function (ideally a 2d array output but can be anything)
2. Insert a (basic) chart using the data from the output of that custom function
3. Save the file as .xlsx

[2020-04-23 03:15] RuoyingLiang commented on #203
@mmcelligott1 for the chart updating issue. The fix has already checked-in. But it haven't rolled out to production yet. We will confirm and back to the thread  once the fix hit the production.

[2020-04-23 03:21] RuoyingLiang commented on #203
@vapglobal we are investigating the issue you mentioned. It will be great if we can see the repro in real time to get more info. Could you let me know your email address so I can schedule a Teams call? ( Or you can send mail to me directly. My mail address is ruoyingl@microsoft.com)

[2020-04-28 01:55] csreddyennam opened #204 "Unable to access webapi from excel task pane add-in"
we have an list box in the task pane, the values are retrieved by using WebAPI and shown to the user.

The webapi is in local machine, the same was working before on Windows 10, details below:

Windows 10
Version 1809 (OS Build 17763.864)

Office 365 ProPlus
Version 1908 (build 11929.20648)
Semi-annual Channel

------------------------
The same is not working Windows 10 latest, details below:
Wind

[2020-04-28 05:40] csreddyennam commented on #204
Issue resolved after making changes in Internet Explore, please find the below steps:
Open IExplore (Window + Run type "iexplore" in run window)
Go to Menu: Tools -> Internet Optioins -> Security tab
Trusted sites: -> Sites (Button) Uncheck "Required server verification (https:) for all sites in this zone
Add "http://<MachineName> (What you see in the Manifest file)
Click on Close (Button)
Check t

[2020-04-28 05:40] #204 closed

[2020-05-06 15:19] geethadabbara opened #205 "New changes in functions.js is not reflecting in excel custom add-in without re-uploading the manifest file"
Tag your question with office-js or outlook-web-addins

[2020-05-06 20:17] mscharlock commented on #205
Hi @geethadabbara - I am transferring this issue to the Excel-custom-functions repo, where engineers should be able to help with this. Thanks!

[2020-05-07 02:52] RuoyingLiang commented on #205
@geethadabbara , thanks for reaching out. Is this issue happened during developing? Or your add-in in store updated but user didn't get updated version?

[2020-05-07 11:13] geethadabbara commented on #205
this is happening in development & Testing. We are yet to publish to MS appSource. This raised the question of the manifest behaviour after publishing.

[2020-05-11 09:32] wh1t3cAt1k opened #206 "Is there a way to have multiple custom functions with different namespaces?"
As I understand it would require setting up several extension points with type CustomFunctions, each of which would have a separate namespace.

Is it supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94ad7803-d4f7-a700-7c7f-204cd8f34e4a
* Version Independent ID: 9c485bae-cab1-bdad-4c8e-baad2b12b22d
* Content: [

[2020-05-11 09:48] #203 closed

[2020-05-11 18:00] mscharlock commented on #206
@RuoyingLiang - Do you mind answering this one? I think this is possible but I want to check.

[2020-05-11 20:25] sshukurov opened #210 "Do multiple user profiles have different storage instances in Excel on Windows"
`localStorage` in browsers is implemented so that it is unique for each browser user profile. Can I expect the same from `storage` in Excel on Windows? If I have multiple user profiles on my PC, does each user have their own storage instance in Excel on Windows?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8364ff6-e

[2020-05-12 01:43] RuoyingLiang commented on #205
Thanks. During development, the manifest and metadata will be stored in cache and sometimes it's not cleared as expected. Could you follow the [https://docs.microsoft.com/en-us/office/dev/add-ins/testing/clear-cache](url) to clear the cache and try again? Once published to store, the user's update should works.

[2020-05-12 14:35] dabbara-geetha commented on #205
Thank you @RuoyingLiang

[2020-05-19 06:39] RuoyingLiang commented on #206
@wh1t3cAt1k Custom function in one add-in don't support different namespace. Could you share with us your scenario to help us understand the requirement?

[2020-05-20 17:44] mscharlock commented on #206
@RuoyingLiang - I will go ahead and make sure this is accurate in the docs! :)

[2020-05-21 21:45] thunter05 opened #207 "Custom Function JSON Autogenerate - Breaking with Non-Custom Functions?"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-json-autogeneration

## Issue
I'm able to create custom functions using the Excel JS API, BUT I can't generate the functions.json configuration file when I include functions that are not tagged with @customfunction. I'm trying this with the batch function example in the docs, but the file won't build. How can

[2020-05-22 08:59] wh1t3cAt1k commented on #206
@RuoyingLiang the scenario is rather simple. We connect to back ends of different providers that expose their public APIs to us, but with similar functionalities, e.g. CalculateInterest().

We need to disambiguate clearly between providers in the naming. Currently we are only able this through prefixing:

CONTOSO.FOOCALCULATEINTEREST()
CONTOSO.BARCALCULATEINTEREST()

etc.

Would be a bit nicer to

[2020-05-22 09:00] wh1t3cAt1k commented on #206
Nested namespaces like CONTOSO.FOO.CALCULATEINTEREST() would rock even more in terms of readability and intuitiveness.

[2020-05-22 12:16] akrantz commented on #206
The name of the custom function can have a prefix, so instead of the function being CALCULATEINTEREST(), the actual function name can have a period and be FOO.CALCULATEINTEREST() and BAR.CALCULATEINTEREST().  If you have the namespace as "CONTOSO", then these would appear as CONTOSO.FOO.CALCULATEINTEREST() and CONTOSO.BAR.CALCULATEINTEREST().

[2020-05-22 14:14] wh1t3cAt1k commented on #206
Thank you. This works for us.

@akrantz will this require calling CustomFunctions.associate? I trust JS functions cannot contain dotted identifiers.

Please @mscharlock clarify this in the documentation - maybe including the workaround suggested by @akrantz?

Close the issue yourself when ready please, and thank you again for helping out!

[2020-05-22 14:22] akrantz commented on #206
The JavaScript function name cannot contain the period, but the name in the metadata certainly can. These names do not have to be the same.

I'd like to call out that the Yo Office template for custom functions has a webpack plugin that can generate the custom function metadata from the JavaScript/TypeScript source. It will generate the metadata name from the JavaScript function name but you can o

[2020-05-22 14:27] wh1t3cAt1k commented on #206
Yes, I see that you can also do it using a JSDoc attribute:

[code]

On Fri, 22 May 2020 at 17:22, Adam Krantz <notifications@github.com> wrote:

[2020-05-22 18:54] mscharlock commented on #207
@RuoyingLiang - do you mind having a look at this issue? Thanks!

[2020-05-22 20:30] thunter05 commented on #207
Thanks! I actually got this to work by just manually creating the functions.json file and having we pack copy to the dist  folder.  It looks like the plugin expects that only custom functions are present in the functions.js file.

[2020-05-22 22:52] akrantz commented on #207
The plugin should allow for other functions. We've tested cases for other functions being used without the @customfunctions tag. Is that error from a different plugin, e.g. Terser?

[2020-05-22 23:08] thunter05 commented on #207
I thought that too. I’m not using any Terser libraries that I know of. My npms are all part of the yo office generated project. Good to know that this should work though. I’ll keep looking into the issue to see if I can’t narrow down the problem. Thanks!!

[2020-05-23 18:56] dbettin opened #208 "Web Assembly Support"
With the release of Blazor Web Assembly for the web, is there a roadmap for including web assembly support for custom functions?

[2020-05-24 02:35] jimmcslim commented on #208
I agree that this would be a game changer.

[2020-05-25 14:02] adim1973 opened #209 "Console.log output"
Hi there,

I managed to run this example from VS Code, in debug mode. I can add breakpoints in functions.ts file, all good.
But I cannot see the output of "console.log" command in my Debug Console window. The CONTOSO.LOG function writes a log message, where can that be seen (and all other console.log or console.error messages)?

Adrian

The CONTOSO.LOG function
![image](https://user-images.githubu

[2020-05-26 14:20] noon-otter commented on #199
I'm sorry, my company won't let me post code here. This is still an issue for us, but my workaround works for us. I wish I could help more.

[2020-05-26 18:01] akrantz commented on #199
@noon-otter I believe the issue may be that you need to capture any info in the invocation object, because after a fetch call, you can no longer rely on the data in the object.

I'm not clear why you are comparing invocation addresses and re-fetching "until the invocated address is stable".

Rather than share your code, you might see if you can clone this repository and make changes to provide a s

[2020-05-27 08:00] xiaochunms commented on #209
The output of console.log(message) is runtime logging, in Windows, you can see the output if runtime logging is enabled: [runtime-logging-on-windows](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/runtime-logging#runtime-logging-on-windows)

[2020-05-27 08:25] RuoyingLiang commented on #207
@nokafor This is related to metadata generator. Sylvia, could you help to take a look? Thanks

[2020-05-27 09:52] RuoyingLiang commented on #208
Thanks for the suggestion! Could you raise this request in UserVoice [https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/filters/top?category_id=163563](url) ? This will help us the prioritize new request.

[2020-05-28 04:22] dbettin commented on #208
Already a request here: https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/39203794-blazor-development-support.  Please upvote if you agree with the request.

[2020-05-29 12:33] sprai93 commented on #177
Hi @keyur32  why "/x/_vti_bin/DynamicGridContent.json/GetRangeContent?context" will throw 500 error?
Is there any particular reason for this error?

Below is the URL pattern which is resulting 500

/x/_vti_bin/DynamicGridContent.json/GetRangeContent?context={"WorkbookMetadataParameter":{"WorkbookMetadataState":{"MetadataVersion":0,"ServerEventVersion":0}},"SessionId":"32.a151ece71b214854b5348b4409

[2020-05-31 17:24] mattgeim commented on #209
@adim1973 did the information provided by xiaochums solve your issue?  If so please feel free to close this issue.  Thanks!

[2020-06-01 10:45] adim1973 commented on #209
xiaochums solution kind of works, meaning I can see the console.log output in the registry defined text file, but I was wondering if the console output can be seen directly in the Visual Code output/terminal/debug console window...

[2020-06-04 15:23] vikasm1720 opened #212 "Cors issue with shared runtime"
The documentation says custom functions will have full cors support with shared runtime, but I still see an issue for functions.json file. functions.json is referenced under metadata tag in the manifest.xml. Can you please update the documentation for configuring functions.json metadata.

Access to XMLHttpRequest at 'https://{domain}.com/office_apps/functions.json' from origin 'https://inc-excel.o

[2020-06-05 20:57] keyur32 commented on #210
Hi @wh1t3cAt1k ,  the storage api uses the Office cache: https://docs.microsoft.com/en-us/office/dev/add-ins/testing/clear-cache,  as demonstrated here: %LOCALAPPDATA%\Microsoft\Office\16.0\Wef\

This cache is per user, per device.

[2020-06-08 13:26] wh1t3cAt1k commented on #210
Hi @keyur32 ! Thank you for the clarification!

Are there any platform differences in this? For example, what happens on Mac? Does it get stored under `/Users/USERNAME/Library/Application Support/` ?

What happens In Office on the Web?

I would also suggest to add this information to the documentation.

[2020-06-08 13:30] wh1t3cAt1k commented on #210
To clarify, our scenario is that we need to "locally remember password":

**- without the user trusting our servers with their credentials (all is local)** (key value proposition),
- in a cross-platform manner (but we're okay if they need to do it separately for every platform, or if some platforms wouldn't be supported for this functionlaity)
- in a per-user scope so that the user can apply OS- o

[2020-06-08 18:43] mscharlock commented on #212
@RuoyingLiang do you mind responding to this? Thanks!

[2020-06-11 18:24] paulfrench opened #214 "Documentation needs to be clearer when sharing runtime between task pane and custom functions"
I'm running a taskpane and custom functions under a shared runtime in Excel on the web.

I've been banging my head against a wall following...

https://docs.microsoft.com/en-gb/office/dev/add-ins/tutorials/share-data-and-events-between-custom-functions-and-the-task-pane-tutorial

I've been trying to get my custom functions to work when using a shared runtime. Eventually by tracking down some sampl

[2020-06-15 13:45] chucklay opened #215 "Add custom functions to existing visual studio generated add-in"
Hello. This is primarily a documentation issue.

I have a task pane add-in that was generated using the VS Office/Sharepoint workload that I'm trying to add custom functions to. However, I can't get it to work, and all the documentation on custom functions I can find essentially boils down to generating this template and working from there.

What exactly would I need to add to my manifest to point

[2020-06-15 19:20] chucklay commented on #215
I've stuck the relevant portions of my manifest in this SO question: https://stackoverflow.com/questions/62349701/adding-custom-functions-to-existing-excel-add-in-generated-by-visual-studio

I've also added this:
[code]

Still not having any luck.

[2020-06-15 20:33] akrantz commented on #215
This is difficult to document as there are various changes. I suggest using Yo Office to create a new project for Excel Custom Functions and then comparing the differences against your project.

Primarily you'll see differences with the webpack config which allows for generation of the json, and the manifest changes for the custom function additions.

Debugging for custom functions is different th

[2020-06-19 18:26] shaofengzhu commented on #212
The CORS support means that the addin could access the resources from another domain if the server allows the resources to be accessed from another domain. Without SharedRuntime, even if the server allows the resources to be accessed from another domain, the addin cannot access it. With SharedRuntime, the addin could access the resource as long as the server allows the resources to be accessed fro

[2020-06-22 09:34] vikasm1720 commented on #212
@shaofengzhu Thank you for the explanation. I am clear on concept of shared runtime. I have configured the server to allow functions.json to be accessed from other domains and it is working. I am closing this issue.

[2020-06-22 09:34] #212 closed

[2020-06-23 12:46] wh1t3cAt1k commented on #210
Hey @keyur32 , just pinging you in case you were busy with something else.

[2020-06-23 21:23] lindalu-MSFT commented on #205
Closing, please reopen if you need more assistance!

[2020-06-23 21:23] #205 closed

[2020-06-23 21:24] TCourtneyOwen commented on #205
I have heard back from some folks on a separate thread. I am fine with closing this

[2020-06-23 21:37] lindalu-MSFT commented on #207
@nokafor @RuoyingLiang Is this a question for Stack Overflow?

[2020-06-23 21:39] lindalu-MSFT commented on #209
@adim1973 You can also ask this question on Stack Overflow! Closing issue, please feel free to reopen if you need more assistance.

[2020-06-23 21:39] #209 closed

[2020-06-23 21:43] lindalu-MSFT commented on #214
@keyur32 @mscharlock We need a SME to verify this update to the docs.

[2020-06-24 14:44] YaweiWang95 opened #219 "Issue with "require package""
*** NOTE: If you have an issue running your custom function, please log an issue in the official office-js repo here: [https://github.com/OfficeDev/office-js/issues](https://github.com/OfficeDev/office-js/issues) ***

In my custom function, I tried to include some package such as "ffi", "ref" using require sentence. However, the add-in will show error when starting debug. And here is the error mes

[2020-06-25 16:50] mscharlock commented on #214
@RuoyingLiang can you have a quick look at this as well? Thanks!

[2020-07-06 12:31] vikasm1720 opened #220 "Issue with custom functions compatible with existing com Add-in"
I have existing custom function created in Com Add-in. To support MAC and online I am creating a web Add-in. I have included the equivalent add-in in the manifest. but the web add-in does not recognize the custom function created in com add-in when the same workbook opened on browser/mac instead, it throws #Name? and displays the namespace used in com add-in.

  <EquivalentAddins>
    <EquivalentA

[2020-07-06 17:32] mscharlock commented on #220
@RuoyingLiang can you have a look at this? Thank you!

[2020-07-09 01:17] lindalu-MSFT commented on #220
@vikasm1720 Hi, I assigned this to our Excel team to triage. Meanwhile, can you provide us exact repro steps, screenshots, error msgs, as well as your manifest. THANKS! You can attach files to a message by dragging and dropping.

[2020-07-09 12:57] vikasm1720 commented on #220
[addin.zip](https://github.com/OfficeDev/Excel-Custom-Functions/files/4896910/addin.zip)
Please find the attached screenshots and manifest.

[2020-07-09 12:59] vikasm1720 commented on #220
[Addin.zip](https://github.com/OfficeDev/Excel-Custom-Functions/files/4896936/Addin.zip)
Please find the attached screenshots and manifest.

[2020-07-09 13:31] wh1t3cAt1k commented on #210
Hey guys, no pressure, but this went without answer for quite a while.

The ability to securely store passwords client-side is a crucial decision-making point for our product. Can anyone give me a hand with this?

[2020-07-09 23:03] keyur32 commented on #210
Hey @wh1t3cAt1k,  the mechanisms we have like the storage api stores on as plain text on the local machine in the Office Add-ins cache.  Based on that would recommend you take the appropriate pre-cautions (i.e. store a short lived access token vs the password) in that cache.

thanks

[2020-07-10 10:35] wh1t3cAt1k commented on #210
@keyur32 thank you! Could you please also clarify about the following:

[2020-07-13 03:02] weshi commented on #214
If you include your functions.js in your taskpane.html, you should not need to steps you listed above.

[2020-07-14 03:37] weshi commented on #219
What do you want to achieve with ffi? It seems this package is used to load files from local file system. But custom functions cannot only include files from the http server. I'm closing this. If this is not the case, please reactive this.

[2020-07-14 03:38] #219 closed

[2020-07-14 03:41] YaweiWang95 commented on #219
I want to include some functions developed in c++. Do you mean that the
custom function can only include files from http server? Then the right way
is first put the local functions into the server, then include the function
through web server?

On Mon, Jul 13, 2020 at 23:37 Wenbo Shi <notifications@github.com> wrote:

[2020-07-14 03:43] weshi commented on #219
No, you cannot do it with the custom functions. It can only include JavaScript functions, not C++ functions.

[2020-07-14 03:53] YaweiWang95 commented on #219
Yes, I understand that the custom function can not include C++ function
directly. How about using Native addon or through other package such as
emscripten. If these ways are’t available, is there any alternative way?
The ultimate goal is to use the built c++ library in excel through web
service.

On Mon, Jul 13, 2020 at 23:43 Wenbo Shi <notifications@github.com> wrote:

[2020-07-14 05:02] weshi commented on #219
Custom Functions is to run cross-platform (Mac/Online/Windows). C++ functions will not run on Excel on the Web. If your goal is to run it on Windows, you either develop traditional COM Add-ins or Excel XLLs. If you already have your XLLs, but still wants to use Custom Functions in Web add-in to call them on Windows, then you can refer to [Extend custom functions with XLL user-defined functions](ht

[2020-07-14 05:22] xiaochunms commented on #220
Looks like the CF is not installed for Web Add-in. You may can try to remove the whole EquivalentAddins node from manifest file and see if the CF can be recognized by Web-Addin without EquivalentAddins node.

[2020-07-14 05:45] vikasm1720 commented on #220
CF is installed on Web Add-in and if I remove the "xxx.Office.Formulas." from the formula, the CF gets detected and fetches data. I have tried removing the node from the manifest file too, but it does not get detected unless I edit the formula and remove "xxx.Office.Formulas." from it.

[2020-07-14 06:24] xiaochunms commented on #220
It is the expected behavior for Custom Functions for XLL compatible mode. In Custom Functions XLL compatible mode, the Name follows the convention of XLL's functions, for example, no Namespace supported.

In your case, if you treat "xxx.Office.Formulas" as the Namespace, it explains everything.

If the EquivalentAddins node removed from the manifest file, it is a regular Web Add-in then. As Namesp

[2020-07-14 10:20] paulfrench commented on #214
I'm using typescript generated by yeoman. Webpack is used to include functions.ts. If you start here and then convert to using the shared runtime I don't think it mentions anything about making sure functions.js is included in taskpane.html ?

[2020-07-14 13:06] YaweiWang95 commented on #219
Thanks for your suggestions. It’s very helpful.

On Tue, Jul 14, 2020 at 01:02 Wenbo Shi <notifications@github.com> wrote:

[2020-07-14 13:53] akrantz commented on #214
The Yo Office template is designed for the separate runtimes between custom functions and the task pane. It doesn't reflect the changes needed when a single shared runtime is used for the task pane as well as the custom function.

@keyur32 @TCourtneyOwen @lindalu-MSFT We need to coordinate about what changes are needed for the shared runtime. At a minimum it would help to have documentation to exp

[2020-07-14 14:17] paulfrench commented on #214
Okay thanks, I'll give it a go. What I have works fine but I still need to associate each custom function myself. I'll see if I can remove this step. Thanks

[2020-07-14 17:44] mscharlock commented on #214
@TCourtneyOwen @akrantz  @lindalu-MSFT I'll put the doc changes on my backlog! :)

[2020-07-22 08:53] mastershif opened #221 "OfficeRuntime.storage.setItems fails to set items in storage, return Unknown Error"
I created an Excel add-in where the user need to log in first to use the add-in functionality.
The login happens in the taskpane.
When the user successfully logged in, I am calling OfficeRuntime.storage.setItems in order to save the user's details (email, token, etc.) in the storage. In Excel web it works properly but in Excel desktop this call fails, and the error returning from the promise is "U

[2020-07-24 03:40] xiaochunms commented on #221
Is it possible to share manifest file which is helpful for debugging? As there is a log in step, it would be much helpful to have a test account that can login for debug.

[2020-07-24 04:27] xiaochunms commented on #222
Hey, may you please import the [gist](https://gist.github.com/xiaochunms/1e381e19b3fe7b7725f0d2e91e88eab6) in Scriptlab to see if Custom Functions is supported or not for your Excel version?

[2020-07-24 12:49] Silviu-Marian commented on #222
Sorry, this issue was originally posted in the Office-Addin-Scripts project and got transferred. We solved it here already.

https://github.com/OfficeDev/Excel-Custom-Functions/issues/192#issuecomment-585383591

[2020-07-24 12:49] #222 closed

[2020-07-24 20:48] fds-ssg opened #223 "Evaluating a basic custom function in Excel online takes a long time"
# Expected behavior

Prior to this week, when our team first noticed this behavior, evaluation would be nearly instantaneous.

# Current behavior

After entering/changing a cell with a custom function in Excel on the web, the cell shows #BUSY and the "calculating" progress bar appears for a long time, around 5-10 seconds, before the result is returned.

![image](https://user-images.githubuserconte

[2020-07-24 21:14] fds-ssg opened #224 "Excel online: Function replaced with #REF! when pasted to another workbook"
# Expected behavior

The name of the function should appear the same when pasted as it did in the copied cell.

# Current behavior

In Excel online, if we copy a cell with a formula containting our custom function, `FDS()`, to a cell on a different workbook, every FDS() function call is replaced by `#REF!`.  For example:

Formula copied from Book 1: `=3*FDS("msft","price")+7`
When pasted into Book

[2020-07-27 07:37] RuoyingLiang commented on #223
Thanks for reporting. We are looking into this issue.

[2020-07-27 09:47] RuoyingLiang commented on #224
Thanks for reporting. I can repro the issue with your add-in. Will work with Excel Online copy&paste team to investigate.

[2020-07-27 10:17] RuoyingLiang commented on #223
We found the root cause and working on it. Will update this thread once it's fixed.

[2020-07-27 13:55] mastershif commented on #221
@xiaochunms thank you!
the add-in is in the store, it is called AmenityAnalytics.
test account: amenity.addin.test@gmail.com Tufcyz5pithe

[2020-07-28 07:23] vikasm1720 commented on #220
Thank you @xiaochunms, I understood the behaviour of custom functions. But Equivalent Addins node mentioned in the manifest file does not work as expected.
As mentioned above I have com add-in and I installed the web add-in in Excel desktop. Since I have mentioned equivalent add-in in the manifest ideally I should not see web add-in right? according to documentation COM add-in takes priority and w

[2020-07-29 04:08] xiaochunms commented on #221
@mastershif thanks for your information. I installed the add-in and logged in successfully with the test account. However I did not hit the Unknown error. My office excel version details is:

![image](https://user-images.githubusercontent.com/1261601/88755359-8fbac080-d193-11ea-94ae-71a5bf52aa22.png)

Could you share your excel version details by Excel->Account->About Excel?

[2020-07-29 09:22] mastershif commented on #221
@xiaochunms this is the excel version:

![image](https://user-images.githubusercontent.com/14184076/88782344-24beb900-d196-11ea-93e2-de5715c10d62.png)

[2020-07-30 00:29] keyur32 commented on #104
A feature to help with in production is in the backlog. CLosing this out, will have more details on a future community call: https://developer.microsoft.com/office/events/?filterBy=Community%20calls,Add-ins

[2020-07-30 00:29] #104 closed

[2020-07-30 00:30] keyur32 commented on #106
Closing. Tracked in backlog internally.

[2020-07-30 00:30] #106 closed

[2020-07-30 00:31] keyur32 commented on #118
Closing this, as Shared Runtime is now Generally Available and unblocks this use case: https://developer.microsoft.com/en-us/office/blogs/power-up-with-office-add-ins-build-2020/

[2020-07-30 00:31] #118 closed

[2020-07-30 00:32] keyur32 commented on #210
Hi there, sorry for delay. This is documented here on the different cache locations that are used: https://docs.microsoft.com/en-us/office/dev/add-ins/testing/clear-cache   (OfficeRuntime.storage saves to a storage folder under that cache). Thanks!

[2020-07-30 00:32] #210 closed

[2020-07-30 00:37] keyur32 commented on #198
Hi there, I can comment on the design. We went with the smallest string as possible to avoid having to adjust column widths, and knowing that in certain locales that would be localized further. It isn't possible to localize the string.

What you could do is use a streaming function, with your intermediate state being your custom message. This would still show #busy on first invocation, but would b

[2020-07-30 00:37] #198 closed

[2020-07-30 00:38] keyur32 commented on #195
Hi there, closing this issue as Shared Runtime is now generally available and has not been updated. Please reactivate if this is remains unresolved.

[2020-07-30 00:38] #195 closed

[2020-07-30 00:43] keyur32 commented on #191
Hey Andrew, here is the custom function call: https://docs.microsoft.com/en-us/office/dev/add-ins/excel/configure-your-add-in-to-use-a-shared-runtime.

To describe in detail:
- In your custom function, use the caller.address property and save that to some global state (i.e. Format A1's result with the $)
- In your oncalculatedevent which will fire only after the functions have finished calculating

[2020-07-30 00:43] #191 closed

[2020-07-30 00:44] keyur32 commented on #206
Marking this as closed as issue appears resolved.

[2020-07-30 00:44] #206 closed

[2020-07-30 00:44] keyur32 commented on #208
Marking this as closed, ssince it is tracked on User voice already. thanks.

[2020-07-30 00:44] #208 closed

[2020-07-30 00:49] keyur32 commented on #199
Hi allo, marking this issue as closed, per previous response. Please reactivate if further debugging is required. Glad the workaround mentioned above got you unblocked.

[2020-07-30 00:49] #199 closed

[2020-07-30 00:51] keyur32 commented on #130
Marking closed as it looks to not have had any response since last note. Please re-activate if further help is still needed.  The feature David mentioned above, was using the Shared Runtime, and is also now generally available. Thanks!

[2020-07-30 00:51] #130 closed

[2020-07-30 01:07] keyur32 commented on #137
Closing this issue for now. Since you can now get the worksheet name via the Shared Runtime (initialize your taskpane, get worksheet name, save it to a global, and then access it from your function).

[2020-07-30 01:07] #137 closed

[2020-07-30 01:09] keyur32 commented on #207
This looks like a question we'd want for stackoverflow, so broader community can help. I'm closing this issue for now here. @thunter05 , please post this question on stackoverflow with tag office-js so folks may help if still needed.

[2020-07-30 01:09] #207 closed

[2020-07-30 01:20] keyur32 commented on #215
Adam is correct. I did respond to the stack overflow topic as it may be relavent. The recommendation for VS and getting debugging would be to configure your add-in to use shared runtime. Closing this instance.

[2020-07-30 01:20] #215 closed

[2020-07-30 01:25] keyur32 commented on #220
I think you're missing the XLL Compatible tag here: https://docs.microsoft.com/en-us/office/dev/add-ins/excel/make-custom-functions-compatible-with-xll-udf.  You can put a generic file name in there, as it is just mentioned to make it more identifiable.  This will cause your functions to save in XLL Compatible mode, internally the same way XLL Functions were written out as (=xll.<FunctionName>.

[2020-07-30 01:27] keyur32 commented on #223
Updated label as fix has been deployed and closing out.

[2020-07-30 01:27] #223 closed

[2020-08-04 14:01] JoshG1987 opened #227 "Creating a new `Excel.RequestContext` class in my custom function makes it return `#VALUE`"
Operating System: Windows 10
Node Version: 10.16.0
Office: Excel in the web (Office 365)

If I try to use the Excel API in my custom function, it always returns `#VALUE` when I call it. The simplest possible reproducible example is as follows:

1. Follow [this](https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/excel-tutorial-create-custom-functions?tabs=excel-windows) tutorial and use

[2020-08-10 18:15] lindalu-MSFT commented on #227
Hi, sorry for the delayed response! We're a bit short on resources this week due to vacations. I assigned this to the correct team to investigate. Thanks, linda

[2020-08-10 18:17] lindalu-MSFT commented on #221
Hi, sorry for the delayed response! We're a bit short on resources this week due to vacations. I assigned this to the custome functions team to investigate. Thanks, linda

[2020-08-11 00:00] wducharme opened #228 "Issue Encountered while parsing manifest for Add-In: Javascript URL and HTML URL are required to be in the same domain."
# Expected behavior
I'm expecting the Add-In to load into Excel correctly.

# Current behavior
Whenever I run `npm start`, the npm dev server starts and Excel is launched correctly. However once launched, Excel gives me an Add-In Error in the sidepane (screenshot attached).

Looking at the runtime logs, I get the message `Issue encountered while parsing manifest for Add-in 693396c6-994b-407e-9047-

[2020-08-17 07:53] vikasm1720 commented on #220
Hi @keyur32 , thank you for the info, this kind of solved half of my problem. this is what is happening now. I create a workbook with web add-in(Office online) and I have mentioned the XLL tag, after fetching data it does an autosave, Now I open the workbook on windows Desktop excel(com addin with same custom function name), I do not see any prefix like xlfudf_ to my custom functions, but they fai

[2020-08-17 14:15] keyur32 commented on #220
Hi there, did you set the @volatile flag? That will force the functions to recalculate on open.

For the addin could not be started error with a streaming functions — we would like to investigate. Can you log a seperate issue for that please?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: vikasm1720 <notifications@github.com>
Sent: Monday, August 17, 2020 12:53:

[2020-08-17 14:41] vikasm1720 commented on #220
Setting @volatile flag would recalculate all cells, each time I insert a new formula or modify an existing formula right?
@volatile flag would solve my issue to recalculate when I open the workbook in com add-in, but for web add-in, it would create problems because modifying a particular cell would force recalculate entire worksheet, which I do not want to happen.

[2020-08-18 17:59] #228 closed

[2020-08-19 18:34] wei6100 opened #230 "Custom function not working when I change to use taskpane.html for custom function page"
*** NOTE: If you have an issue running your custom function, please log an issue in the official office-js repo here: [https://github.com/OfficeDev/office-js/issues](https://github.com/OfficeDev/office-js/issues) ***

I am using shared runtime,  for custom functions page source location link if I reference to function.html file, all my functions work fine, but if I refer to  taskpane.html , all fu

[2020-08-20 10:01] sshukurov opened #231 "Loading Office add-in which has equivalent COM add-in, custom functions names appear without namespace"
I am loading an add-in's manifest to Excel on Windows, the manifest has an equivalent COM add-in specified. I notice a call-out that points out the COM add-in ribbon button, as documented.

Now when I try to write a formula using custom functions from the add-in, I am not being able to find the functions under the namespace specified in the manifest, although I am able to find them without the nam

[2020-08-20 23:19] wei6100 commented on #230
Also I have additional question related to this, even I use function.html as the page sourceLocation , in office 365 online, I am still able to access window.location, and document.cookies, but in office 365 desktop, those information not available. I am not sure whether this is also related to page source location is not pointed to taskpane.html, but why it works in online?

[2020-08-23 18:53] dragonk233 opened #251 "custom function template can't get the log"
# Expected behavior

i want to get the console.log(message)

## Steps to Reproduce

1. use yo office to produce project(function-excel)
2. npm run start correctly
3. then get a error and can't get log through function logMessage(message)

## Context

Please provide any relevant information about your setup. This is important in case the issue is not reproducible except for under certain conditions

[2020-08-25 13:00] sshukurov commented on #231
It turns out my issue is a subset of issues described in: https://github.com/OfficeDev/office-js/issues/877 and was already answered there. So I conclude this is an expected behavior, and closing this issue.

[2020-08-25 13:00] #231 closed

[2020-09-02 06:12] xiaochunms commented on #230
@wei6100 Is it possible to share the full manifest? I can try to repro the issue locally with the manifest shared.

[2020-09-02 18:16] wei6100 commented on #230
I have attached the  Manifest file , html and code files
[Manifest.zip](https://github.com/OfficeDev/Excel-Custom-Functions/files/5164045/Manifest.zip)

[2020-09-10 08:10] Xiirf commented on #227
Hello,
I have the same problem, I tried the same actions but I can't access the API from my custom functions. For my part, the error is that 'Excel' is not defined (log).
I don't know if the functionality is available despite this link https://docs.microsoft.com/en-us/office/dev/add-ins/excel/call-excel-apis-from-custom-function.

[2020-09-21 22:01] fds-ssg opened #233 "Evaluating 3000 functions with 254 values each gets stuck on #BUSY"
# Expected behavior

The values of the functions should appear

# Current behavior

When I evaluate 3000 functions at once, with each return value being an array of 254 numbers, the functions stay on #BUSY! and an error appears in the browser log:

## Steps to Reproduce

1. In ScriptLab, load this gist: https://gist.github.com/fds-ssg/226fc6532483772c6085ddd801857966
2. Enter the formula `=SCRIPTL

[2020-09-23 06:16] grangeryy commented on #233
The request exceeds the limit of payload size in excel online due to large data sets. We have a feature in backlog for next Quarter to address this issue. Thx!

[2020-09-28 20:58] ElizabethSamuel-MSFT commented on #220
@keyur32 Any update on this? Thx.

[2020-09-28 21:01] ElizabethSamuel-MSFT commented on #221
@xiaochunms Any update on this? Thx.

[2020-09-28 21:05] ElizabethSamuel-MSFT commented on #230
@xiaochunms Any update here? Thx.

[2020-09-28 21:07] ElizabethSamuel-MSFT commented on #227
@RuoyingLiang Any update on this? Thx.

[2020-10-28 21:28] ivanosipov95 commented on #227
Also, have the same issue. Any updates?

[2020-10-28 22:11] ElizabethSamuel-MSFT commented on #227
@grangeryy Is this something you can help with or direct? Thx.

[2020-11-02 08:26] ivanosipov95 commented on #227
@grangeryy, @ElizabethSamuel-MSFT Hi, any updates?

[2020-11-10 13:22] FastExcel opened #236 "VSCode Breakpoints not working"
I am trying to use VSCode to debug Excel JS Custom functions on Windows, using Yo Office, the Custom Funcs Tutorial, and UI-less custom functions debugging instructions. I have not modified the manifest or any code. I am not using the shared runtime. Everything works except the debug does not stop at breakpoints:

    the breakpoints show as unbound after Excel starts
    Debug console shows "Coul

[2020-11-10 17:23] akrantz commented on #236
The "foundation.win32.bundle" is the JavaScript bundle for Office code which doesn't include your code. You don't need the source map for it since you're not going to debug into that code.

The add-in files are downloaded into the "wef cache". I think there might be an issue where the source map files are downloaded with the wrong name.

In a command prompt:
Go to the wef cache root folder: C:\Use

[2020-11-10 18:39] FastExcel commented on #236
Thanks Adam

Sadly it all looks correct.

The only entry for js.map in bundle.js is indeed the last line sourceMappingUrl and it says functions.js.map
And the other file in that subdir is called functions.js.map

Charles
From: Adam Krantz <notifications@github.com>
Sent: 10 November 2020 17:24
To: OfficeDev/Excel-Custom-Functions <Excel-Custom-Functions@noreply.github.com>
Cc: Charles Williams <Ch

[2020-11-18 11:10] itoxable commented on #227
Hi There, I'm have the same issue. Any updates?

[2020-11-30 12:33] CristovaoTorres opened #239 "Excel JavaScript Addin - How to working with multiples Repeating parameters?"
I would like to be able to receive two or more Repeting Parameters.

Ex.

[code]

but I am not successful

[2020-11-30 19:01] akrantz commented on #239
You cannot. How can it know which parameters are part of the first versus the second?

[2020-12-01 12:11] CristovaoTorres commented on #239
Ok, tks ;)

[2020-12-02 14:33] druidsbane commented on #191
@keyur32 is there any update or sample documentation on how we can implement this today without callbacks and just return formatted cells?

[2020-12-02 23:17] keyur32 commented on #191
@grangeryy can highlight this using both the callerAddress properties, and the onCalculate event. We'll be working on allowing you to return formatted number values directly from your function.

[2020-12-09 20:38] ElizabethSamuel-MSFT commented on #239
Closing out.

[2020-12-09 20:38] #239 closed

[2021-01-16 14:57] nathanhammond opened #248 "Cannot Get Sample Functions Running"
Environment

- macOS 10.14.6 (18G103)
- Excel 16.45 21011103
- Microsoft 365 Personal Subscription

Current Problem:

- **Currently unable to get function execution to complete. Cell value remains as `#BUSY!`.** Logs below, but nothing particularly remarkable appearing in them.

Other issues:
- No documentation on needing to run `npm run build` prior to `npm run start`.
- Office JS Add-ins may hav

[2021-01-16 14:59] nathanhammond commented on #248
Additional Test
- Created a new workbook.
- Attempt to insert the development add-in manually.
- Output of "Error installing add-ins", taskpane button present on the Home (Ribbon?).

[2021-01-16 15:09] nathanhammond commented on #248
Runtime Logs

[code]

[2021-01-16 15:29] nathanhammond commented on #248
After running `npm run build` it succeeds in registering the add-in. (This needs to be added to the documentation.)

Next error, the cell never resolves from `#BUSY!` for `=CONTOSO.ADD(1,2)`.

[code]

[2021-01-16 16:10] nathanhammond commented on #248
This is my test script which I am unable to make ever resolve from `#BUSY!`:

Setup:
[code]

Teardown:
[code]

[2021-01-16 16:14] nathanhammond commented on #248
After trying this a bunch of times, now getting this behavior:

[code]

<img width="1280" alt="Screen Shot 2021-01-17 at 12 13 24 AM" src="https://user-images.githubusercontent.com/20542/104816873-c950b800-5815-11eb-836c-48d11556091e.png">

[2021-01-16 16:36] nathanhammond commented on #248
The previous comment is some weird GUID persistence issue. By using the "expected" GUID inside of manifest.xml (which is a bug in Excel/JS Add-ins?) I'm back to just forever `#BUSY!`.

[2021-01-16 16:41] nathanhammond commented on #248
(In case you're following along via email, I'm editing and keeping the top post of this issue up-to-date with my state.)

[2021-01-16 18:22] TCourtneyOwen commented on #248
@nathanhammond Yes, I too am hitting the same issue on Mac.  We also identified an issue with Custom-Functions on Windows, but believe we have a fix for that.  However, I tried applying the same fix on Mac and it doesn't appear to resolve the issue, so there may be another separate issue for Mac.  We will work towards resolving this ASAP, and I will keep you posted.

Thanks,

Courtney

[2021-01-19 12:20] wh1t3cAt1k opened #249 "More control over invalidation of the custom functions metadata cache"
Our product is in active development, and we often make changes to custom functions metadata, mostly non-breaking ones, like adding a new **optional** positional parameter at the end.

Based on https://github.com/OfficeDev/Excel-Custom-Functions/issues/205 , I understand that Office caches information about custom functions.

I must admit that having no control over such caching is not convenient

[2021-01-19 17:36] akrantz commented on #249
When you make changes, do you increment the version number of the add-in?

[2021-01-20 08:23] nathanhammond commented on #248
Applying the fix from #245 resolves this issue for me.

[2021-01-20 08:31] wh1t3cAt1k commented on #249
@akrantz thanks for your response! No, will that force the re-invalidation of the cache?

To be honest, we try not to fiddle with the manifest at all if we can help it, because of certain issues outlined [here](https://camerondwyer.com/2018/09/11/office-add-in-manifest-updates-deployment-timing-and-potential-url-issues/):

So it would be really great if we could signalize to invalidate the custom

[2021-01-20 12:39] nathanhammond opened #250 "Update office-ui-fabric-core to 11.0.0"
Currently set to 9.6.1, hardcoded in the taskpane.html template.

[2021-01-20 17:09] akrantz commented on #249
I don't know definitively but my recollection is that this can help. I think the cache uses the manifest version as part of the key, so incrementing it will invalidate it. The cache is not related to webpack, but rather that the custom function html, js, and metadata.json files are downloaded and cached for the add-in by Excel.

[2021-01-25 23:21] TCourtneyOwen commented on #236
@FastExcel I am also reproing this behavior and am investigating.

-Courtney

[2021-01-28 08:04] wh1t3cAt1k commented on #249
Related issue for add-in HTML outlined on StackOverflow long ago:

https://stackoverflow.com/questions/34168603/office-add-ins-caching-my-html-file

In a recent release, I set up NGINX to send revalidation `cache-control` headers for HTML, JS, and metadata JSON, to ensure the client always has the freshest version.

I am not 100% certain it's going to help, though, could someone from the team clar

[2021-02-02 19:51] lliu113 commented on #248
@nathanhammond  - I'm closing this issue as it appears to be resolved. Please reactivate if you have any additional questions/concerns. Thanks!

[2021-02-02 19:51] #248 closed

[2021-02-03 07:06] nathanhammond commented on #248
@lliu113 Indeed, I have been able to make this work on Excel for Mac. However, I've been unable to make it work in Excel for the Web. I didn't close this because it remains an issue until #245 lands.

Separately, I'd like to draw your attention to this related issue I have filed on the office-js repository:
https://github.com/OfficeDev/office-js/issues/1630

Given that my add-in is effectively a v

[2021-02-04 17:06] nathanhammond opened #252 "Flexbox Layout"
The `flexbox` layout included in this sample code can easily cause issues in IE11, which is a semi-required target for deploying Excel Add-ins. An overflow layout issue caused by flexbox quirks in IE11 (correctly) resulted in a rejection during review.

I recommend switching to a different CSS layout pattern for the template layout.

[2021-02-12 14:33] CristovaoTorres opened #253 "Dynamics array with Custom Functions"
Hi.

I would like use Dynamics array Excel in my Custom Function.
is it possible?
How Can I use in my Custom Functions filters?

![image](https://user-images.githubusercontent.com/46796748/107780598-a5ee2f80-6d25-11eb-828a-22af836f629e.png)

read more
https://insider.office.com/en-us/blog/dynamic-arrays-and-new-functions-in-excel

[2021-02-12 22:24] davidchesnut commented on #253
Hi @CristovaoTorres,  if you're just looking to return a dynamic array from your custom function, check out the article: [Return multiple results from your custom function](https://docs.microsoft.com/office/dev/add-ins/excel/custom-functions-dynamic-arrays)

Hope this helps!
David

[2021-02-13 00:21] CristovaoTorres commented on #253
Tks.

I would like to receive an array as a parameter in may custom function.
exemple:
![image](https://user-images.githubusercontent.com/46796748/107835445-4b31f380-6d78-11eb-9653-25cc41a1e08a.png)

[2021-02-16 23:33] awasser-omnispear opened #254 "Localhost SSL requests"
I'm building a set of Custom Functions which connects to a server using WebSockets; just the standard WebSockets baked into the JS engine, not Socket.IO or any external library.
Connecting to the socket on the test and production server works great, but attempting to connect to localhost does not.  Taskpane connections work fine.
The error it gives is: `The certificate authority is invalid or inco

[2021-02-17 16:14] nkkinariwala commented on #254
@awasser-omnispear - Thank you for posting a question. Can you please provide these additional details?

Your Environment
Platform: ______
Host: Excel
Office version number:______
Operating System: ______
Browser (if using Office on the web): ______

[2021-02-17 17:30] awasser-omnispear commented on #254
Server platform:  WSL - Ubuntu 20
Host: Excel Desktop - (not using Shared Runtime)
Office version: 2101 (Build 13628.20380) - Current Channel
Operating System: Windows 10 Pro version 2004 (Build 19041.804)

I'm using WSL2 to run the webserver locally.  The taskpane runtime is able to connect to it, but the custom functions runtime cant seem to connect.

[2021-02-22 16:52] CristovaoTorres opened #257 "Example functions return #N/Ain Web"
*** This repo is for issues related to the current Excel Custom Functions sample. ***

If you have an issue _running_ your custom function, please log an issue in the official office-js repo here: [https://github.com/OfficeDev/office-js/issues](https://github.com/OfficeDev/office-js/issues) ***

I'm having trouble with the custom function.

only on the web I always have the return # N / A

yesterd

[2021-02-22 16:58] TCourtneyOwen commented on #257
@CristovaoTorres Can you please try the following:

- Find "https://localhost:3000/dist/functions.html" in the project manifest.xml file
- Remove the "dist" portion from the functions.html such that it looks like this: https://localhost:3000/functions.html
- Rebuild and restart your custom functions project

I think this should fix the problem, but please let us know if it doesn't.

Thanks,

Court

[2021-02-22 17:02] CristovaoTorres commented on #257
Thanks.

I changed the file but the problem still remains.
![image](https://user-images.githubusercontent.com/46796748/108742628-a4d3b400-7516-11eb-8814-496ec8b09d4b.png)

[2021-02-22 17:12] TCourtneyOwen commented on #257
OK, then this might be a different issue. Let me dig into this a bit more because I am also seeing the same behavior you are reporting.  I will get back to you.

Thanks,

Courtney

[2021-02-22 17:14] CristovaoTorres commented on #257
Ok
Remembering that yesterday it worked perfectly and for some reason today, it stopped working.

[2021-02-22 17:18] TCourtneyOwen commented on #257
Yes, that is good to know, as I had this working last week when I tried it. I likely will end up reporting this issue to the Custom Functions team if I can't find a quick solution.

[2021-02-22 17:25] TCourtneyOwen commented on #257
I also get some very bizarre behavior that it ends up filling in a bunch of cells as follows when it tries to resolve the function (e.g. = contoso.add(1,2):

![image](https://user-images.githubusercontent.com/38081557/108745454-f3ba2300-74ef-11eb-9740-cd74fe2a059c.png)

[2021-02-22 17:28] CristovaoTorres commented on #257
I think the problem is some update in excel. =/

[2021-02-22 17:29] TCourtneyOwen commented on #257
I think this may be a problem with Excel Online and not unique to custom functions. Even entering a built-in Excel function such as =SUM(1,2) fails. Some serious issues appear to be going on with Excel Online at the moment

[2021-02-22 17:30] TCourtneyOwen commented on #257
Yes, you beat me to it - something with Excel Online

[2021-02-22 17:33] CristovaoTorres commented on #257
No problems for me.
![image](https://user-images.githubusercontent.com/46796748/108746132-aef7b180-751a-11eb-8245-494365f266b7.png)

[2021-02-22 17:54] TCourtneyOwen commented on #257
I just looped in some of the Custom Functions people on this issue. I will let you know what I hear. They may chime in on this thread too.

[2021-02-23 02:09] xiaochunms commented on #257
@CristovaoTorres Sorry for the issue. May you please help to share your Excel version information? Furthermore, is it possible to share your project which used to work that I can debug at my side?

[2021-02-23 03:21] raflyalk commented on #257
Hi, I'm also having the same problem with Excel Custom Function on Excel for Web. I also tried test making a custom function using  Script Lab but also results in #N/A error as well. But the problem doesn't exist on Excel Desktop. So I think the problem is from the Excel for Web.

[2021-02-23 12:13] CristovaoTorres commented on #257
I am using the template project following this.
https://docs.microsoft.com/pt-br/office/dev/add-ins/quickstarts/excel-quickstart-jquery?tabs=yeomangenerator

Excel Custo Function
TypeScript

[2021-02-23 18:15] CristovaoTorres commented on #257
Closed without intention

[2021-02-24 00:50] CristovaoTorres commented on #257
Follow the project

https://github.com/CristovaoTorres/ExcelCustomFunction

[2021-02-24 13:05] #253 closed

[2021-02-24 13:05] CristovaoTorres commented on #253
.

[2021-02-25 00:09] davidchesnut commented on #253
Hi @CristovaoTorres, to pass the dynamic array, the user needs to append `#` to the end of the dynamic array formula. For example, if B2 has a dynamic array that displays a range of 10 rows of data, you would pass it to your own function in another cell by entering `=mycustomfunction.secondHighest(B2#)`. In JS you receive the [value as a range](https://docs.microsoft.com/office/dev/add-ins/excel/c

[2021-02-25 02:09] raflyalk commented on #257
I tried using the custom function on Excel for Web today and the problem has been fixed. You can try again @CristovaoTorres .

[2021-02-25 02:26] TCourtneyOwen commented on #257
Wow, that's surprising - it works for me now too!

@xiaochunms did you make a fix for the issue? If not, then maybe the issue was indeed with XLO and not custom functions

[2021-02-25 05:48] xiaochunms commented on #257
@raflyalk thanks for the check. @TCourtneyOwen the issue is in add-in part, but it impacts custom functions. Just reverting the change fixes the issue then.

[2021-02-25 11:31] CristovaoTorres commented on #257
It works for me too.,
Tks  =D

[2021-02-25 11:31] #257 closed

[2021-03-18 02:25] grangeryy commented on #233
The issue is now been fixed with the new feature rolling out.

[2021-03-18 02:25] #233 closed

[2021-03-18 03:50] grangeryy commented on #251
@dragonk233 we can't repro the issue. Does it still repro for you?

[2021-03-18 05:09] grangeryy commented on #227
@JoshG1987 does this issue still repro? If yes, could you share the test project link to us so we can investigate faster?
@Xiirf @ivanosipov95  to call JS APIs in Custom Functions, you need to configure your add-in to use [shared runtime](https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/excel-tutorial-create-custom-functions?tabs=excel-windows) first.

[2021-03-22 05:05] grangeryy commented on #251
Close this with no repro. Please reopen if it still happens. Thx!

[2021-03-22 05:05] #251 closed

[2021-03-23 03:15] grangeryy commented on #254
@awasser-omnispear did you use the [shared runtime?](https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/share-data-and-events-between-custom-functions-and-the-task-pane-tutorial)

[2021-03-23 13:48] awasser-omnispear commented on #254
External requirements prevent me from using the shared runtime while it is still using Internet Explorer's engine.
As such, I cannot use shared runtime at the moment.

[2021-03-28 08:46] leybal opened #262 "A custom function became BUSY if it accepted TODAY as a parameter and break Excel"
# Prerequisites
Hi.
Our team develop add-in for Excel. We notice custom function performance issue. If a custom formula accept the formula TODAY as a parameter, then this formula is recalculated on any change to the data on a sheet. 500 of these formulas lead to a critical error Excel and page reload. Please take a llok at [the video](https://drive.google.com/file/d/1rx59gZ9r-HONbwF9JxUxQ-OFPdwQDI

[2021-03-30 02:49] grangeryy commented on #262
Hey @leybal we also notice this issue and here the bug we are using to track: 4633260

[2021-03-30 09:06] leybal commented on #262
Thanks for answer. How we can track the progress of this bug?

[2021-03-30 09:08] grangeryy commented on #262
We're still in the investigation into this and will update more information once we get progress. Thx!

[2021-03-31 19:16] igor-ribeiiro commented on #236
@FastExcel A PR has just be made for fixing this issue: https://github.com/OfficeDev/Excel-Custom-Functions/pull/263
It will soon be merged and your issue fixed should be available soon.

Thanks for the investigation and comments,
Igor Ribeiro

[2021-03-31 19:34] akrantz commented on #236
Let's not close this until the fix is available.

[2021-04-01 12:59] #236 closed

[2021-04-02 08:20] grangeryy commented on #254
Custom function currently only handles external request in this [way](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-web-reqs).

From your description at the very beginning, does your custom function work together with taskpane or they are totally separate add-ins? If they need to work together, then you'll need to use shared runtime to make it happen.

[2021-04-02 19:17] awasser-omnispear commented on #254
I've discovered the cause.  It is related to how I generated the localhost SSL cert and keys, not the custom functions runtime.

[2021-04-02 19:17] #254 closed

[2021-04-03 10:43] JeremyJonas opened #265 "Custom Functions not registered with "Volume License""
# Expected behavior
Should be able to develop **Excel Add-in with custom function** using **Volume License** on Mac.

# Current behavior
**Custom functions** are not registered in Excel during development do to *licensing* error, not supporting **Office License**, in my case **Volume License 2019**.

I have contacted my administrator and verified *Volume License 2019* for corporation should not be

[2021-04-07 07:51] grangeryy commented on #265
@JeremyJonas, is the Volume License also under O365 or one-time purchase version? Currently, excel custom functions are not supported in Office 2019 (one-time purchase):
![image](https://user-images.githubusercontent.com/50093161/113830357-2165dd80-97b9-11eb-8f7f-b91c056b4adf.png)

[2021-04-08 00:55] JeremyJonas commented on #265
Hi @grangeryy, it is one-time purchase volume license. Is this requirement in the documentation? Any plans to support this? Thank you!

[2021-04-08 02:26] grangeryy commented on #265
Hey @JeremyJonas, the requirement is in the documentation "Note" section. Unfortunately we don't have a plan to support this so far. Custom functions will work together with dynamic array feature, which is also not supported in Office 2019. So in your case, you may need to upgrade to O365 subscription or wait for 2021(or called vNext, targeting June this year.)

[2021-04-09 02:57] grangeryy commented on #262
Hey @leybal, there seems to be several asks/issues in this item.
1. Today() triggers recalculate while SUM doesn't.  - This is by design for Excel calculation logic after surfing the code. I guess the reason behind is for Today or rand(), there's correlation in the formulas so it needs to update(recalculate) to make the data is up-to-date.
2. Custom function performance issue. - From our test, the

[2021-04-09 12:19] leybal commented on #262
Hey @grangeryy. It looks like a misunderstanding has occurred. Let me help with a clarification.

2.  Performance issue is not related to the calculation time. We have 2 formulas that refer to `TODAY()`: the standard `SUM()` formula and a custom function, e.g. `SCRIPTLAB.BASICCUSTOMFUNCTION.SPHEREVOLUME()`. By the performance issue, I meant that CFs are recalculated whereas the SUM() is not recalc

[2021-04-16 06:00] #265 closed

[2021-04-23 07:32] grangeryy commented on #262
@leybal Sorry for the late response but this is more complicated than original thought.

Updating:
There are 4000 ~5000 custom functions in the workbook, the repro is triggering lots of whole calculation at a very short time. (There are lots of CF calculations run at the same time) which leads to a perf improvement ask. We've figuring out the root cause and track using backlog:4991412. I'll update

[2021-05-14 17:16] avinashmadireddy opened #275 "TypeError: Network request failed - windows desktop excel"
*** NOTE: If you have an issue running your custom function, please log an issue in the official office-js repo here: [https://github.com/OfficeDev/office-js/issues](https://github.com/OfficeDev/office-js/issues) ***

All of our custom functions are working fine in online and mac desktop versions. But failing in only windows desktop version.

"Network request failed" issue happening on windows des

[2021-05-16 00:58] slabereemsft commented on #275
Hi Avinashmadireddy,

Have you tried using a fiddler trace to get more information about what the network call is that is failing? That might help us diagnose the issue more quickly.

[2021-05-16 10:53] avinashmadireddy commented on #275
Thanks. I've not tried fiddler. Will let you know what fiddler says.

[2021-05-17 08:14] csreddyennam commented on #275
Log to logger, follow below link
https://docs.microsoft.com/en-us/office/dev/add-ins/testing/runtime-logging#runtime-logging-on-windows

[2021-05-17 08:18] csreddyennam opened #276 "Unable to compile custom function"
I am able to build locally, but issue is on my build machine.

Command used to compile: webpack -p --mode production --https false

Error Message:
2021-05-14T15:23:23.3202801Z   > webpack -p --mode production --https false
2021-05-14T15:23:23.3203373Z
2021-05-14T15:23:24.7986037Z   (node:7096) UnhandledPromiseRejectionWarning: TypeError: The 'compilation' argument must be an instance of Compilatio

[2021-05-17 17:56] avinashmadireddy commented on #275
@slabereemsft No trace in fiddler when executing the custom function on windows desktop version. Also tried on Mac excel version (working), where fiddler is tracing the rest call that's getting invoked from custom function.

I've gone the Microsoft documents and they suggested to use the shared javascript runtime as we are implementing the UI less custom functions. [https://docs.microsoft.com/en-u

[2021-05-19 20:28] avinashmadireddy commented on #275
After implementing shared javascript runtime, the UI less custom functions are getting loaded to the excel but when tried to execute them no action. Following is the error

Uncaught TypeError: i.getInitializationReason is not a function
    at office.js:46
    at d (office.js:46)
    at f.waitForFunction (office.js:46)
    at j (office.js:46)
    at OSF.InitializationHelper.loadAppSpecificScriptAn

[2021-05-20 05:05] grangeryy commented on #275
@avinashmadireddy guess the resources are hosted in the localhost? Could you help to share your project to us so we can be more efficient to debug the issue?

[2021-05-20 06:26] avinashmadireddy commented on #275
@grangeryy Yes, the resources are hosted in localhost. I'll share the two projects, with and w/o shared runtime.

[2021-05-20 08:07] avinashmadireddy commented on #275
@grangeryy Invited you to the "UI less custom functions with shared runtime" project. Due to security reasons i've deleted content in task pane and dialogues (TODO). For now I've added only one basic custom function FS.add(). This custom function is getting registered with the excel but not getting invoked during execution. For info, there are other custom functions which will contact our gateway

[2021-05-21 01:15] xiaochunms commented on #275
@avinashmadireddy could you please also loop me in your project? I can take a look from developer's perspective.

[2021-05-21 02:17] grangeryy commented on #275
@avinashmadireddy please also include 2xiaochunms as he is our engineer who will be investigating this. THX! @

[2021-05-24 08:50] avinashmadireddy commented on #275
@grangeryy @xiaochunms Looks like you have not accepted my invite for the project.

I've updated the project "ui-less-custom-func-wo_sr" and logged an issue, where you can get clear idea whats happening after running the project in windows desktop & online version.

[2021-05-25 02:33] xiaochunms commented on #275
@avinashmadireddy I tried to look for notifications in system on project invitations but I did not find it. :( I am thinking to ask you the project detail information on how to access. It is great that you shared the link. :) Thanks for the invitation and I can access projects now. I will take a look at my side and will be back to you soon.

[2021-05-25 04:15] avinashmadireddy commented on #275
@xiaochunms Thanks.

[https://github.com/avinashmadireddy/ui-less-custom-func-wo_sr](https://github.com/avinashmadireddy/ui-less-custom-func-wo_sr) is without shared runtime

[https://github.com/avinashmadireddy/ui-less-custom-func-wsr](https://github.com/avinashmadireddy/ui-less-custom-func-wsr) is with shared runtime

[2021-05-25 05:03] grangeryy commented on #276
@csreddyennam  Based on our investigation, if you can build locally successfully, usually it indicates there's no issue with the Custom Functions. I'm guessing the problem happens with the build machine itself. Have you ever tried another machine?

[2021-05-26 05:48] xiaochunms commented on #275
@avinashmadireddy Thanks for the information. I tried both and may want to share following information:
1. I tried the without shared runtime project at my side, it works fine. I am thinking the issue you hit may be related with the value of "UseDirectDebugger" registry key. You can have a check and add it in the registry.

![image](https://user-images.githubusercontent.com/1261601/119606527-51c71

[2021-05-26 07:09] avinashmadireddy commented on #275
@xiaochunms Thanks. I'll try both suggested solutions and let you know.

Reg. project with out shared runtime, how it will work if we go live.
Currently we deployed our project (w/o shared runtime) through central deployment and it fails in only windows desktop version. How to debug this case at user end. The excel build version they are using supports custom function.